@charset "utf-8";

i {display: flex; align-items: center; justify-content: center; background-repeat: no-repeat; background-position: center; background-size: contain;}

/* icon : a b c d e f g h i j k l m n o p q r s t u v w x y z */
.ic-arrow-left-20 {width: 2rem; height: 2rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-arrow-left-20.svg);}
.ic-arrow-left-24 {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-arrow-left-24.svg);}
.ic-arrow-right-20 {width: 2rem; height: 2rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-arrow-right-20.svg);}
.ic-arrow-right-20-gr {width: 2rem; height: 2rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-arrow-right-20-gr.svg);}
.ic-arrow-right-24 {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-arrow-right-24.svg);}
.ic-arrow-up-24 {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-dropdown-ov.svg);}
.ic-arrow-down-24 {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-dropdown.svg);}

.ic-team-change {width: 1.2rem; height: .8rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-team-change.svg);}
.ic-ball {width: 1.2rem; height: 1.2rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-ball.png);}

.ic-delete-16 {width: 1.6rem; height: 1.6rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-delete-16.svg);}
.ic-success {width: 1.6rem; height: 1.6rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-success.svg);}
.ic-try {width: 1.6rem; height: 1.6rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-try.svg);}

.ic-sub-more {width: 2rem; height: 2rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-sub-more.svg);}

.ic-date-nav-prev {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-date-nav-prev.svg);}
.ic-date-nav-next {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-date-nav-next.svg);}
.ic-list {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-list.svg);}
.ic-calendar {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-calendar.svg);}
.ic-more-20 {width: 2rem; height: 2rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-more-20.svg);}
.ic-more {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-terms-more.svg);}
.ic-more-circle {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-more.svg);}
.ic-more-down {width: 1rem; height: .6rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-more-down.svg);}
.ic-prev {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-prev.svg);}
.ic-delete {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-delete.svg);}
.ic-reset {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-reset.svg);}
.ic-help {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-help.svg);}
.ic-horiz {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-horiz.svg);}
.ic-heart {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-heart.svg);}
.ic-heart-ov {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-heart-ov.svg);}
.ic-ball-24 {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-ball-24.svg);}
.ic-ball-disabled {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-ball-disabled.svg);}
.ic-excel {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-excel.svg);}
.ic-search {width: 2.4rem; height: 2.4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-search.svg);}

.ic-mypage {width: 2.8rem; height: 2.8rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-mypage.svg);}
.ic-mobile-menu {width: 2.8rem; height: 2.8rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-mobile-menu.svg);}
.ic-shutdown {width: 2.8rem; height: 2.8rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-shutdown.svg);}
.ic-close {width: 2.8rem; height: 2.8rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-close.svg);}

.ic-player-add {width: 4rem; height: 4rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-player-add.svg);}

/* pagination */
.ic-pagination-first {width: 3.2rem; height: 3.2rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-pagination-first.svg);}
.disabled .ic-pagination-first {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-pagination-first-disabled.svg);}

.ic-pagination-prev {width: 3.2rem; height: 3.2rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-pagination-prev.svg);}
.disabled .ic-pagination-prev {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-pagination-prev-disabled.svg);}

.ic-pagination-next {width: 3.2rem; height: 3.2rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-pagination-next.svg);}
.disabled .ic-pagination-next {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-pagination-next-disabled.svg);}

.ic-pagination-last {width: 3.2rem; height: 3.2rem; background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-pagination-last.svg);}
.disabled .ic-pagination-last {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/ic-pagination-last-disabled.svg);}

/* emblem */
.ic-emblem {width: 2.4rem; height: 2.4rem;}
.ic-logo {width: 13.2rem; height: 8rem;}

.ic-emblem.kbl {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/logo/ic-kbl.svg);}
.ic-emblem.kgc {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/logo/ic-kgc.svg);}
.ic-emblem.lg {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/logo/ic-lg.svg);}
.ic-emblem.sk {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/logo/ic-sk.svg);}
.ic-emblem.hd {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/logo/ic-hd.svg);}
.ic-emblem.sono {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/logo/ic-sono.svg);}
.ic-emblem.kcc {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/logo/ic-kcc.svg);}
.ic-emblem.db {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/logo/ic-db.svg);}
.ic-emblem.kt {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/logo/ic-kt.svg);}
.ic-emblem.pega {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/logo/ic-pega.svg);}
.ic-emblem.ss {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/ico/logo/ic-ss.svg);}

.ic-logo.kbl {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-kbl.svg);}
.ic-logo.kgc {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-kgc.svg);}
.ic-logo.lg {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-lg.svg);}
.ic-logo.sk {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-sk.svg);}
.ic-logo.hd {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-hd.svg);}
.ic-logo.sono {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-sono.svg);}
.ic-logo.kcc {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-kcc.svg);}
.ic-logo.db {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-db.svg);}
.ic-logo.kt {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-kt.svg);}
.ic-logo.pega {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-pega.svg);}
.ic-logo.ss {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-ss.svg);}

.ic-logo.dark.kbl {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-kbl-dark.svg);}
.ic-logo.dark.kgc {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-kgc-dark.svg);}
.ic-logo.dark.lg {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-lg-dark.svg);}
.ic-logo.dark.sk {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-sk-dark.svg);}
.ic-logo.dark.hd {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-hd-dark.svg);}
.ic-logo.dark.sono {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-sono-dark.svg);}
.ic-logo.dark.kcc {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-kcc-dark.svg);}
.ic-logo.dark.db {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-db-dark.svg);}
.ic-logo.dark.kt {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-kt-dark.svg);}
.ic-logo.dark.pega {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-pega-dark.svg);}
.ic-logo.dark.ss {background-image: url(https://dev-web-front.kbl.ddfactory.kr/assets/img/logo/logo-ss-dark.svg);}
