@charset "utf-8";

#wrap{height:100%;}

.login .content {position:relative;height:100%;background:#ececec}
.login .content .login-tab {position:absolute;top:calc(50% - 234px);left:50%;transform:translate(-50%, 0);}
.login .content .login-tab li {position:relative;display:inline-block;width:140px;text-align:center;}
.login .content .login-tab li a {font-size:18px;color:#888;}
.login .content .login-tab li:first-child::after {content:'';position:absolute;top:8px;right:-1px;width:1px;height:9px;background-color:#ccc;}
.login .content .login-tab li:first-child a.on {color:#2866c7;border-bottom:3px solid #2866c7;border-radius:1.5px;} 
.login .content .login-tab li:last-child a.on {color:#db2445;border-bottom:3px solid #db2445;border-radius:1.5px;} 
.login .content .login-wrap {display:flex;position:absolute;top:calc(50% - 189px);left:calc(50% - 367px);width:733px;height:377px;border-radius:6px;background:#fff;}
.login .content .login-wrap .left {width:50%;height:100%;border-radius:6px 0 0 6px;text-align:center;}
.login .content .login-wrap .right {width:50%;height:100%;padding:100px 65px;border-radius:0 6px 6px 0;}
.login .content .login-wrap .right .login-box {position:relative;width:100%;height:40px;padding:0 22px 0 48px;margin-bottom:10px;border:1px solid #aaacb5;border-radius:20px;}
.login .content .login-wrap .right .login-box::before {content:'';position:absolute;top:11px;left:22px;width:15px;height:16px;background:url('../images/main/id.png') no-repeat;}
.login .content .login-wrap .right .login-box.pw::before {background:url('../images/main/pw.png') no-repeat;}
.login .content .login-wrap .right .login-box input {width:100%;height:100%;font-size:13px;color:#4f4f4f;font-weight:700;outline:none;}
.login .content .login-wrap .right .save-box {margin-bottom:24px;}
.login .content .login-wrap .right .save-box input {margin-right:5px;}
.login .content .login-wrap .right .save-box label {font-size:13px;color:#4f4f4f}
.login .content .login-wrap .right .login-btn {width:100%;height:38px;border-radius:20px;font-size:13px;color:#fff;background:#111;text-align:center;outline:none}

/* 선수관리 > 선수 등록 및 정보 변경 > 셀렉박스 항목리스트 */
.content .player-img {display:table;width:100%;margin-bottom:20px;padding:10px;border-top:1px solid #eee;border-bottom:1px solid #eee;}
.content .player-img dt {display:table-cell;width:100px;height:133px;border:1px solid #eee;}
.content .player-img dd {display:table-cell;width:742px;padding-left:22px;vertical-align:middle;}
.content .player-img dd .ipt[type='file'] {width:auto;height:auto;padding:0;border:0;color:#3b6ec2;}
.content .player-img dd .txt-tip {padding-top:10px;color:#717379;}

.down-arrow {display:block;width:19px;height:26px;margin:30px auto 0;background:url('../images/sub/ic_arrow.png');}

/* multi checkbox */
.multi-wrap {position:relative;display:inline-block;margin-right:10px;vertical-align:top;}
.multi-wrap .multi-box {width:160px;height:28px;line-height:28px;padding:0px 10px;border:1px solid #a4a7a9}
.multi-wrap .nulti-list {position:absolute;top:27px;left:0;overflow-y:scroll;width:160px;max-height:100px;border:1px solid #a4a7a9;background:#fff}
.multi-wrap .nulti-list li {padding:5px 10px;}

/* 시즌마법사 */
.install-area {padding:30px 0;margin:20px;border:1px solid #ebebeb;border-left:0;border-right:0;}
.install-area h4 {margin-bottom:25px;font-size:18px;color:#0040a9;font-weight:400}
.install-area .txt {line-height:1.5;font-size:14px;}
.install-area .step {line-height:1.5;margin-bottom:25px;font-size:13px;color:#888}
.install-area .gray-box {padding:17px 8px;background:#ebebeb}

/* 게시판 관리 > 특기사항 불러오기 */
.specialty-area .info-wrap {padding:13px 16px;margin:30px 0;border-top:1px solid #bbb;border-bottom:1px solid #bbb;text-align:center;}
.specialty-area .info-wrap p {margin-bottom:10px;font-size:28px;color:#3b6ec2;}
.specialty-area .info-wrap div {line-height:1.5;font-size:12px;font-weight:100;}
.specialty-area .info-wrap div span {font-weight:700;}
.specialty-area .info-wrap div span:last-child {margin-left:10px;}
.specialty-area h4 {font-size:20px;text-align:center;}
.specialty-area .between-wrap {color:#3b6ec2;text-align:left;}
.specialty-area .specialty-cont table {margin-bottom:10px;}

/* VOD 관리 > LIVE 영상 관리 */
.live-wrap {padding:13px 15px;background-color:#ebebeb;}
.live-wrap p {float:left;margin:6px 10px 0 0;font-size:13px;}
.live-wrap .btn {height:28px;padding:5px 20px;vertical-align:text-bottom;}
.live-wrap .btn span {font-size:12px;color:#fff}
.live-wrap .btn.submit {background-color:#3069e6;}
.live-wrap .btn.close {background-color:#333}
.live-wrap .on {color:red}
