@charset "utf-8";

html, body {position:relative;min-height:100%;}

header {width:100%;background-color:#fff;}
header #gnb .menu {position:relative;height:54px;}
header #gnb .menu::after {content:"";display:block;position:absolute;bottom:0;width:100%;height:1px;border-bottom:1px solid #e5e5e5;}
header #gnb .menu li {float:left;width:33.333%;text-align:center;}
header #gnb .menu li a {display:block;height:54px;text-align:center;}
header #gnb .menu li a span {display:inline-block;height:54px;padding-top:17px;font-size:1.5rem;color:#858585;font-weight:400;letter-spacing:-1.0px;}
header #gnb .menu li.on a span {position:relative;color:#c10a3a;font-weight:700;border-bottom:2px solid #c10a3a;z-index:1;}
header #gnb .menu.post li:first-child a span {padding-top:8px;}
@media (min-width:321px){
	html {font-size:11px;}	
}