@charset "utf-8";

#contents.solpick {min-height:calc(100vh - 35px);background:url("../images/main/bg_pick_info_2021.png") top left no-repeat;background-size:100%;background-color:#fff;}
#contents.solpick.bg {background:url("../images/main/bg_pick.png") top left no-repeat;background-size:100% 81px;}
#contents.solpick .game-wrap {width:100%;padding:0 18px;}
/* solpick main */
.my-pick-info {overflow:hidden;padding-top:3.8888vw;}
.my-pick-info .my-point {width:100%;padding:0 36px;margin-bottom:16.11111vw;}
.my-pick-info .my-point.first {padding:0;margin-bottom:12.2222vw;}
.my-pick-info .my-point.txt-analysis {padding:14px 0 13px;color:#fff;font-size:1.8rem;text-align:center;}
.my-pick-info .my-point .my {margin-bottom:15px;color:#fff}
.my-pick-info .my-point .my .my-label {width:74px;height:19px;line-height:19px;margin-bottom:4px;border-radius:10px;font-size:1.1rem;color:#f7cd24;text-align:center;background-color:#6156e8;}
.my-pick-info .my-point .my p {font-size:2.0rem;font-weight:100}
.my-pick-info .my-point .my p span {font-size:3.7rem;font-weight:400}
.my-pick-info .my-point .info {color:#fff;}
.my-pick-info .my-point .info dl:first-child {float:left;}
.my-pick-info .my-point .info dl:last-child {float:right;}
.my-pick-info .my-point .info dl dt {display:inline-block;height:16px;line-height:14px;padding:0 5px;margin-right:2px;border:1px solid #f7cd24;border-radius:8px;font-size:0.9rem;color:#f7cd24;font-weight:100;text-align:center;}
.my-pick-info .my-point .info dl dd {display:inline-block;font-size:1.1rem;font-weight:100}
.my-pick-info .my-point .info dl dd .num {line-height:1;font-size:1.8em;font-weight:400;vertical-align:text-top;}
 /* calendar */
.date-select {position:relative;margin-bottom:4.7222vw;text-align:center;}
.date-select .today {color:#fff;font-size:1.6rem;vertical-align:middle;}
.date-select .btn-prev,
.date-select .btn-next {display:inline-block;width:8px;margin-top:2px;padding:10px;vertical-align:middle;box-sizing:content-box;}
.date-select .btn-calendar {display:inline-block;width:18px;margin-left:6px;}
.date-select.play {position:relative;padding:7px 0 35px;margin-bottom:0}
.date-select.play .btn-calendar {position:absolute;top:10px;right:20px;width:33px;height:33px;border-radius:50%;background-color:#231b3a;}
.date-select.play .btn-calendar img {width:18px;margin-top:7px;}
.date-select.play .today {font-size:2.1rem}
/* tab */
.tab {overflow:hidden;width:73.333vw;margin:0 auto 15px;border-radius:15px;background-color:#f3efff;}
.tab li {position:relative;float:left;width:50%;border-radius:15px;text-align:center;background-color:#f3efff;opacity:0.8;}
.tab li a {position:relative;display:block;width:100%;padding:6px 0 8px;font-size:1.3rem;color:#ac9bdc;z-index:1;}
.tab li.on {background-color:#6156e8;opacity:1;}
.tab li.on a {color:#fff;opacity:1;}

/* main */
.game-cont .quiz {padding:0 18px 15px;border-radius:9px;text-align:center;}
.game-cont .quiz .quiz-box .tit {margin-bottom:17px;font-size:1.9rem;color:#222;font-weight:700}
.game-cont .quiz .quiz-box .txt {font-size:1.1rem;color:#8a8c8e;text-align:right;}
.game-cont .quiz .quiz-box .question {height:23.5vw;}
.game-cont .quiz .quiz-box .question dt {display:inline-block;width:8.0555vw;height:8.0555vw;line-height:8.0555vw;background:#f3efff;font-size:1.2rem;color:#493fcd;font-weight:700;border-radius:50%;}
.game-cont .quiz .quiz-box .question dd {line-height:1.3;margin-top:7px;font-size:1.9rem;color:#333;letter-spacing:-1px;word-break:keep-all;}
.game-cont .quiz .user-choice {margin-bottom:34px;font-size:1.2rem;color:#493fcd;text-align:right;}
.game-cont .quiz .graph {position:relative;width:80vw;height:25.83333vw;margin:0 auto 8.5vw;background-image:url("../images/main/bg_graph.png");background-size:80vw 25.83333vw;}
.game-cont .quiz .graph .top5 {padding:0.8333vw 0 0 11.9444vw;}
.game-cont .quiz .graph .top5 li {float:left;width:10.2777vw;margin:0 1.38888vw;}
.game-cont .quiz .graph .top5 li:first-child {margin-left:0;}
.game-cont .quiz .graph .top5 li dl {position:relative;width:100%;height:24vw;margin-bottom:2px;}
.game-cont .quiz .graph .top5 li dl dt {position:absolute;bottom:0;width:10.2777vw;margin:0 auto;}
.game-cont .quiz .graph .top5 li dl dd {position:absolute;bottom:0;width:7.4074vw;height:100%;margin:0 1.38888vw;background:#dbdee0;border-radius:46.296vw 46.296vw 0 0;transition:all 0.4s ease-in-out 0.35s;}
.game-cont .quiz .graph .top5 li dl dd .rate {position:absolute;top:-15px;left:0;width:100%;color:#818181;text-align:center;}
.game-cont .quiz .graph .top5 li dl dd .rate .num {font-size:1.0rem;font-weight:100;}
.game-cont .quiz .graph .top5 li dl dd .rank {position:absolute;top:-9.7222vw;left:-1px;width:7.962962vw;height:8.98148vw;padding-top:1.11111vw;font-size:1.1rem;color:#4403c8;text-align:center;background:url('../images/main/bg_ballon.png');background-size:7.962962vw 8.98148vw;}
.game-cont .quiz .graph .top5 li.high dl dd {background-color:#4403c8;}
.game-cont .quiz .graph .top5 li.high dl dd .rate .num {font-size:1.3rem;font-weight:400}
.game-cont .quiz .graph .top5 li.high dl dd .rank .num {font-size:1.6rem;}
.game-cont .quiz .graph .top5 li.high dl dd .rate {top:10px;color:#fff;}
.game-cont .quiz .etc li {float:left;font-size:1.1rem;color:#858585;}
.game-cont .quiz .etc li.time {float:right;}
.game-cont .quiz .noti-txt {margin-bottom:20px;font-size:1.1rem;word-break:keep-all}
/* state */
.game-cont .quiz.noti {padding:66px 0 0;border-radius:9px;font-size:1.7rem;text-align:center;}
.game-cont .quiz.noti p {margin-bottom:33px;}
.game-cont .quiz.noti.no {padding-bottom:68px;color:#8d8d8d;}
.game-cont .quiz.noti.no img {width:46.0185vw}
.game-cont .quiz.noti.no-attend {color:#ec5c73;font-weight:100;}
.game-cont .quiz.noti.no-attend span {font-weight:400;}
.game-cont .quiz.noti.no-attend img {width:46.2962vw}
.game-cont .quiz.noti.point {padding:36px 0 33px;background:#fff;}
.game-cont .quiz.noti.point .total-point {margin-bottom:27px;}
.game-cont .quiz.noti.point .total-point dt {margin-bottom:11px;font-size:1.7rem;color:#3d288d;font-weight:700}
.game-cont .quiz.noti.point .total-point dt span {font-size:1.3rem;font-weight:100}
.game-cont .quiz.noti.point .total-point dd {width:216px;height:52px;padding:16px 0;margin:0 auto;color:#fff;background-image:linear-gradient(to right, #6175ee, #8561ee);box-shadow:-1px 3px 8px 0px rgba(0, 0, 0, 0.2);}
.game-cont .quiz.noti.point .point-list dl {width:190px;margin:0 auto 15px;overflow:hidden;}
.game-cont .quiz.noti.point .point-list dl:last-child {margin-bottom:0;}
.game-cont .quiz.noti.point .point-list dl dt {position:relative;float:left;width:105px;padding-left:13px;font-size:1.4rem;color:#555;text-align:left;}
.game-cont .quiz.noti.point .point-list dl dt::before {content:'';position:absolute;top:5px;left:0;width:3px;height:3px;background-color:#6175ee;}
.game-cont .quiz.noti.point .point-list dl dd {position:relative;float:left;width:75px;font-size:1.3rem;color:#535353;font-weight:100;text-align:right;}
.game-cont .quiz.noti.point .point-list dl dd::before {content:'';position:absolute;top:5px;left:0;width:5px;height:3px;background-color:#efefef;}
.game-cont .quiz.noti.point .point-list dl dd span {margin-right:5px;font-size:1.4rem;color:#6175ee;font-weight:700}
.game-cont .quiz.noti.end {padding:25.27778vw 18px;}
.game-cont .quiz.noti.end.add {padding-top:10.1851vw;}
.game-cont .quiz.noti.end img {width:80vw;font-size:1.3rem;text-align:center;}
.game-cont .quiz.noti.end .countdown {padding:12px 0;margin-bottom:12.2222vw;border-radius:3px;background-color:#f6f3f3;}
.game-cont .quiz.noti.end .countdown p {margin-bottom:0;font-size:1.5rem;color:#6175ee;font-weight:700}
.game-cont .quiz.noti.end .txt {margin:7.0370vw}
.game-cont .quiz.noti.end .txt .big {margin-bottom:12px;font-size:1.4rem;color:#093182;font-weight:700}
.game-cont .quiz.noti.end .txt .small {line-height:1.5;margin-bottom:0;font-size:1.2rem;color:#000}
/* q1, q2 - 공용 */
/* q1, q2 - 공용_경기전 */
.game-cont .before {padding:0 0 20px;}
.game-cont .before .quiz-box {padding:13px 15px 15px;}
.game-cont .quiz-header {height:30px;border-radius:9px 9px 0 0;color:#fff;background-color:#0a3256;}
.game-cont .quiz-header dt {position:relative;float:left;width:auto;height:30px;line-height:30px;padding-left:13px;border-radius:9px 0 0 0;font-size:1.3rem;background-color:#4fa0fa;}
.game-cont .quiz-header dt::after {content:'';position:absolute;right:-13px;padding-left:3px;border-top:30px solid #4fa0fa;border-right:10px solid transparent}
.game-cont .quiz-header dd {float:left;line-height:30px;padding-left:18px;font-size:1.3rem;color:#fff;letter-spacing:0;}
/* q1, q2 - 공용_경기후 */
.game-cont .after .quiz-box .my-result {margin-bottom:10px}
.game-cont .after .quiz-box .my-result dt {margin-bottom:13px;font-size:1.7rem;color:#222;font-weight:700;text-align:center;}
.game-cont .after .quiz-box .my-result dt img {display:inline-block;width:17px;padding-top:2px;margin-right:6px;}
.game-cont .after .quiz-box .my-result dd {display:inline-block;padding:0 12px;font-size:1.4rem;font-weight:100;color:#3d288d;}
.game-cont .after .quiz-box .my-result dd span {font-weight:400;}
.game-cont .after .quiz-box .my-result.no-attend dd, .game-cont .after .quiz-box .my-result.all-fail dd {line-height:1.3;color:#ec5c73 !important;}
.game-cont .after .quiz-box .my-result.fail dd {line-height:1.3;color:#ec5c73;}
.game-cont .after .quiz-box .my-result.fail dd p {position:relative;z-index:1}
.game-cont .after .quiz-box .my-result.fail dd p::after {content:'';position:absolute;left:0;bottom:0;width:100%;height:7px;background-color:#fee8ea;z-index:-1;}
.game-cont .after .quiz-box .my-result.pass dd {position:relative;line-height:1.3;}
.game-cont .after .quiz-box .my-result.pass dd::before {content:'';position:absolute;left:-12px;bottom:8px;width:15px;height:35px;background:url("../images/main/bg_left_pass.png") no-repeat 0 0;background-size:100%;}
.game-cont .after .quiz-box .my-result.pass dd::after {content:'';position:absolute;right:-20px;bottom:8px;width:24px;height:36px;background:url("../images/main/bg_right_pass.png") no-repeat 0 0;background-size:100%;}
.game-cont .after .quiz-box .my-result.pass dd p {position:relative;color:inherit;font-weight:400;z-index:1;}
.game-cont .after .quiz-box .my-result.pass dd p::after {content:'';position:absolute;left:0;bottom:0;width:100%;height:7px;background-color:#ebf0ff;z-index:-1;}
.game-cont .after .quiz-box .my-result.pass dd p span {color:inherit;font-weight:700}

/* q1 - 공용 */
.game-cont .q1-app .team-select li {margin-bottom:9px;overflow:hidden;}
.game-cont .q1-app .team-select li:last-child {margin-bottom:0;}
.game-cont .q1-app .team-select li .team-box {float:left;width:43%;padding:11px 5px;border:1px solid #eee;border-radius:9px;font-size:1.2rem;color:#222;cursor:pointer;}
.game-cont .q1-app .team-select li .team-box .team {float:left;width:45px;}
.game-cont .q1-app .team-select li .team-box .team .emb {margin:0 auto 2px;}
.game-cont .q1-app .team-select li .team-box .record {float:left;width:calc(100% - 45px);}
.game-cont .q1-app .team-select li .team-box .record .rank {padding:6px 0;}
.game-cont .q1-app .team-select li .team-box .record .win-rate {font-weight:100;letter-spacing:-1px;}
.game-cont .q1-app .team-select li .team-box.select {border:1px solid #6175ee !important;color:#0a3256;background:linear-gradient(to right, #ebf0ff 50%, #fff 50%);background-size:200% 100%;background-position:left bottom;transition:background .5s ease-in;animation:shake 0.82s cubic-bezier(.36,.07,.19,.97) both 0.5s;}
.game-cont .q1-app .team-select li.cancel .team-box {border-color:#f6f7f7;color:#a8adb3;background:#f6f7f7;}
.game-cont .q1-app .team-select li.cancel .vs {padding-top:18px;}
.game-cont .q1-app .team-select li.cancel .vs .txt {font-size:0.9rem;font-weight:100;color:#888;letter-spacing:-1px;}
.game-cont .q1-app .team-select li .prediction-rate {clear:both;width:100%;padding:5px 10px 4px;;margin:0 auto;border-top:1px solid #fff;font-size:1.3rem;color:#7e7d7d;overflow:hidden;}
.game-cont .q1-app .team-select li .prediction-rate .rate {float:left;width:calc(100% - 16.7592vw);padding:0 10px}
.game-cont .q1-app .team-select li .prediction-rate .rate .away {float:left;width:34px;}
.game-cont .q1-app .team-select li .prediction-rate .rate .home {float:right;width:34px;}
.game-cont .q1-app .team-select li .prediction-rate .rate .graph {position:relative;float:left;width:calc(100% - 78px);margin:6px 5px 0;height:4px;background:#d6d9df;border-radius:2px;}
.game-cont .q1-app .team-select li .prediction-rate .rate .graph .bar {position:absolute;top:0;left:0;width:100%;height:4px;background:#6175ee;border-radius:2px;text-indent:-9999px;transition:all 0.4s ease-in-out 0.35s;}
.game-cont .q1-app .team-select li .prediction-rate .rate .graph .bar.home {left:inherit;right:0;}
.game-cont .q1-app .team-select li .prediction-rate .rate .unit {font-size:0.8rem;}
.game-cont .q1-app .team-select li .prediction-rate .rate .win {color:#6175ee;font-weight:700}
.game-cont .q1-app .team-select li .prediction-rate .rate .prediction-before {clear:both;padding-top:3px;font-size:1.1rem;color:#999;}
/* q1 - 경기전 */
.game-cont .q1-app.before .quiz-box .toggle {text-align:right;}
.game-cont .q1-app.before .quiz-box .toggle .tit {margin-right:3px;font-size:1.2rem;color:#8a8c8e;font-weight:100}
.game-cont .q1-app.before .quiz-box .toggle .switch {position:relative;display:inline-block;width:32px;height:18px;vertical-align:text-top;}
.game-cont .q1-app.before .quiz-box .toggle .switch input {display:none;}
.game-cont .q1-app.before .quiz-box .toggle .slider {position:absolute;top:0;left:0;right:0;bottom:0;padding:3px 6px;background-color:#ebebeb;font-size:1.4rem;color:#fff;text-align:right;border-radius:40px;-webkit-transition:.4s;transition:.4s;cursor:pointer;}
.game-cont .q1-app.before .quiz-box .toggle .slider:before {content:"";position:absolute;left:0;bottom:0;width:16px;height:16px;border:1px solid #d7d7d7;border-radius:50%;background-color:#fff;-webkit-transition:.4s;transition:.4s;}
.game-cont .q1-app.before .quiz-box .toggle input:checked + .slider {background-color:#6175ee;text-align:left;}
.game-cont .q1-app.before .quiz-box .toggle input:checked + .slider:before {-webkit-transform: translateX(12px);-ms-transform:translateX(15px);transform:translateX(15px);}
.game-cont .q1-app.before .team-select {padding:0 15px}
.game-cont .q1-app.before .team-select li .vs {float:left;width:14%;padding-top:20px;color:#8a8c8e;}
.game-cont .q1-app.before .team-select li .vs .txt {font-size:1.0rem;font-weight:700;}
.game-cont .q1-app.before .team-select li .vs .place {font-size:1.0rem;color:#6175ee;font-weight:100;}
.game-cont .q1-app.before .team-select li .prediction-rate {padding-top:5px;}
.game-cont .q1-app.before .team-select li .prediction-rate .rate {float:unset;margin:0 auto;}
.game-cont .q1-app.before .team-select li .prediction-rate .prediction-before {font-size:1.3rem}
/* q1 - 경기중,후 */
.game-cont .q1-app.after .team-select li {border-radius:9px;background-color:#f6f7f7;}
.game-cont .q1-app.after .team-select li .group {padding:6px 4px 6px 9px;}
.game-cont .q1-app.after .team-select li .group::after {content:"";display:block;clear:both;}
.game-cont .q1-app.after .team-select li .team-box {padding:6px 5px 7px;border:1px solid #fff}
.game-cont .q1-app.after .team-select li .team-box .team .name {margin-top:3px;font-size:1.1rem;color:#444}
.game-cont .q1-app.after .team-select li .prediction-rate .tit {float:left;width:16.7592vw;font-size:0.9rem;font-weight:100;}
.game-cont .q1-app.after .team-select li .prediction-rate .tit img {width:4px;margin-left:2px;vertical-align:unset;}
.game-cont .q1-app.after .team-select li .team-box {border:0;}
.game-cont .q1-app.after .team-select li .ps {position:relative;float:left;width:16.7592vw;padding-right:8px;margin-top:18px;}
.game-cont .q1-app.after .team-select li .ps .ing {padding-top:4px;font-size:1.0rem;}
.game-cont .q1-app.after .team-select li .ps .ing dt {color:#444;}
.game-cont .q1-app.after .team-select li .ps .ing dd {color:#6175ee;font-weight:100}
.game-cont .q1-app.after .team-select li .ps .end {padding-top:8px;font-size:1.1rem;color:#444;}
.game-cont .q1-app.after .team-select li .ps .o {width:27px;height:27px;margin:0px auto;background:url("../images/main/icon_o.png") no-repeat 0 0;background-size:100%;text-indent:-9999999px;}
.game-cont .q1-app.after .team-select li .ps .x {width:27px;height:27px;margin:0px auto;background:url("../images/main/icon_x.png") no-repeat 0 0;background-size:100%;text-indent:-99999px;}
.game-cont .q1-app.after .team-select li .ps .txt {margin-top:8px;}
.game-cont .q1-app.after .team-select li .team-box {width:38%;}
.game-cont .q1-app.after .team-select li .team-box.home {float:right;}
.game-cont .q1-app.after .team-select li .team-box .record .score {margin-top:13px;font-size:1.8rem;}

/* q2 - 공용 */
.game-cont .q2-app .quiz-box .record-box {padding:0 6px;}
.game-cont .q2-app .quiz-box .record-box .box {float:left;position:relative;width:50%;height:125px;padding:0 6px;text-align:center;}
.game-cont .q2-app .quiz-box .record-box .box .tit {position:absolute;top:-6px;left:50%;padding:0 7px 1px;font-size:1.0rem;color:#848484;border:1px solid #848484;border-radius:8px;background-color:#fff;transform:translate(-50%, 0);}
.game-cont .q2-app .quiz-box .record-box .box .top {height:76px;border-radius:8px 8px 0 0;background:#f6f7f7;}
.game-cont .q2-app .quiz-box .record-box .box .top .emb-bg {position:absolute;top:17px;left:calc(50% - 38px);width:76px;height:76px;padding-top:14px;border-radius:50%;background-color:#fff;}
.game-cont .q2-app .quiz-box .record-box .box .top .emb-bg.no-attend,
.game-cont .q2-app .quiz-box .record-box .box .top .emb-bg.player {padding:0;}
.game-cont .q2-app .quiz-box .record-box .box .bottom {height:49px;padding-top:25px;border-radius:0 0 8px 8px;font-size:1.4rem;color:#444;background-color:#ebedef;}
.game-cont .q2-app .quiz-box .record-box .box .bottom span {position:relative;padding-left:5px;margin-left:5px;font-size:1.1rem;color:#444}
.game-cont .q2-app .quiz-box .record-box .box .bottom span::before {content:'';position:absolute;top:3px;left:0;width:1px;height:9px;background-color:#a1a1a1;}
.game-cont .q2-app .quiz-box .record-box .box.my .tit {border-color:#6175ee;color:#6175ee}
.game-cont .q2-app .quiz-box .record-box .box.my .bottom {color:#6175ee;background-color:#c6cef5;}
.game-cont .q2-app .quiz-box .record-box .box.my .bottom span {color:#6175ee}
.game-cont .q2-app .quiz-box .record-box .box.my .bottom span::before {background-color:#6175ee;}
.game-cont .q2-app .quiz-box .txt-gray {padding:5px 12px 10px;font-size:1.0rem;color:#666;font-weight:100;text-align:left;}
.game-cont .q2-app .select-list li {position:relative;width:100%;margin-bottom:12px;z-index:5;cursor:pointer;}
.game-cont .q2-app .select-list li:last-child {margin-bottom:0}
.game-cont .q2-app .select-list li dl {height:37px;padding:2px 5px 3px 20px;background:#fff;border-radius:100px;border:1px solid #e1e1e1;}
.game-cont .q2-app .select-list li dl dt {float:left;width:30px;padding-top:9px;font-size:1.1rem;font-weight:700;color:#686666;text-align:left;}
.game-cont .q2-app .select-list li dl dd {float:left;}
.game-cont .q2-app .select-list li dl dd .choice {float:right;width:29px;height:29px;margin-left:15px;border-radius:50%;background-color:#f4f4f4;}
.game-cont .q2-app .select-list li dl .emb {width:40px;margin-top:2px;}
.game-cont .q2-app .select-list li dl .player {float:right;padding-bottom:3px;color:#a8adb3;font-size:1.0rem;}
.game-cont .q2-app .select-list li dl .player div {float:right;padding-top:7px;color:#686666}
.game-cont .q2-app .select-list li dl .player div .name {margin:0 2px;font-size:1.3rem;}
.game-cont .q2-app .select-list li dl .player div .record {font-size:1.1rem;}
.game-cont .q2-app .select-list li.select dl {border-color:#6175ee;background:#6175ee;z-index:5;}
.game-cont .q2-app .select-list li.select dl {background:linear-gradient(to right, #6175ee 50%, #fff 50%);background-size:200% 100%;background-position:left bottom;transition:background .5s ease-in;animation:shake 0.82s cubic-bezier(.36,.07,.19,.97) both 0.5s;}
.game-cont .q2-app .select-list li.select dl dt {color:#fff;}
.game-cont .q2-app .select-list li.select dl .player {color:#fff}
.game-cont .q2-app .select-list li.select dl .player .choice {background-image:url("../images/main/icon_check_blue.png");background-size:100%;}
.game-cont .q2-app .select-list li.select dl .player div {color:#fff}
.game-cont .q2-app .select-list li.select dl .player div .name {color:inherit}
.game-cont .q2-app .select-list li.select dl .player div .record {color:inherit;}
.game-cont .q2-app .select-list li.cancel dl {background:#ebedef;}
.game-cont .q2-app .select-list li.cancel dl dt {color:#a8adb3;}
.game-cont .q2-app .select-list li.cancel::after {display:none;}
/* q2 - 경기전 */
.game-cont .q2-app.before .quiz-header dt {background-color:#26c9e7;}
.game-cont .q2-app.before .quiz-header dt::after {border-top:30px solid #26c9e7;}
.game-cont .q2-app.before .top-record {background-color:#f2f4f8;}
.game-cont .q2-app.before .top-record .top-img {height:98px;padding:11px 19px;}
.game-cont .q2-app.before .top-record .top-img .emb-box {float:left;width:77px;height:77px;padding-top:12px;margin-right:23px;background:#fff;border-radius:50%;}
.game-cont .q2-app.before .top-record .top-img .emb-box.player {padding-top:0;}
.game-cont .q2-app.before .top-record .top-img dl {float:left;width:calc(100% - 100px);padding-top:3px;text-align:left;}
.game-cont .q2-app.before .top-record .top-img dl .tit {display:inline-block;padding:2px 7px;margin-bottom:5px;border:1px solid #231c3a;border-radius:7px;font-size:1.0rem;color:#231c3a}
.game-cont .q2-app.before .top-record .top-img dl .data {margin-bottom:4px;font-size:1.3rem;color:#231c3a;font-weight:700}
.game-cont .q2-app.before .top-record .top-img dl .data span {font-size:2.3rem;}
.game-cont .q2-app.before .top-record .top-img dl .txt {font-size:1.3rem;color:#444;font-weight:100;text-align:left;}
.game-cont .q2-app.before .top-record .top-info02 {overflow:hidden;padding:11px 0;background:#e5e9f7;border-radius:0 0 2px 2px;}
.game-cont .q2-app.before .top-record .top-info02 dl {position:relative;float:left;width:50%;color:#231c3a;}
.game-cont .q2-app.before .top-record .top-info02 dl dt {margin-bottom:3px;font-size:1.1rem;font-weight:100;}
.game-cont .q2-app.before .top-record .top-info02 dl dd {font-size:1.5rem;font-weight:700;}
.game-cont .q2-app.before .top-record .top-info02 .aver::after {content:"";display:block;position:absolute;top:2px;right:0;width:1px;height:28px;background:#fff;}
.game-cont .q2-app.before .select-list {overflow:hidden;padding:0 18px;}
/* q2 - 경기중, 후 */
.game-cont .q2-app.after .select-list {overflow:hidden;padding:0 3px;}

/* btn */
.btn-solpick {padding:20px 0;text-align:center;}
.btn-solpick .btn {display:inline-block;width:80vw;padding:12px 0;border-radius:23px;font-size:1.6rem;color:#fff;background:#231c3a;}
.btn-solpick .btn-start {display:inline-block;}

.btn-nogame {padding:19px 15px 23px;text-align:center;}
.btn-nogame .btn {display:inline-block;width:160px;padding:7px 0;background:#1e2f5d;color:#fff;border-radius:10px;font-size:1.6rem;}
.btn-nogame .btn-guide {margin-right:5px;background:#008cb2;}
.btn-nogame .btn-event-go {background:#0061fe;}

.notice-area {padding-bottom:15px;line-height:1.5;font-size:1.6rem;color:#444;text-align:center;}
.notice-area .before time {display:inline-block;line-height:1.2;padding:0 5px 1px;border-radius:2px;font-weight:700;color:#fff;background:#2b2b2b;}
.notice-area .ing .num {color:#6175ee;}

/* 카카오톡 공유 */
.ad-wrap {padding:12px;}
.kakao {padding:10px 11px;background:#fff;border-radius:10px;}
.kakao .info {overflow:hidden;margin-bottom:12px;}
.kakao .info .txt {float:left;width:77%;}
.kakao .info .txt .bul {float:left;width:13%;padding-top:10px;}
.kakao .info .txt .txt-wrap {float:right;width:84%;}
.kakao .info .txt .txt-wrap .script {padding:7px 0 5px 0;font-size:1.66rem;font-weight:700;color:#f35556;letter-spacing:-1px;}
.kakao .info .txt .txt-wrap .guide {font-size:0.9rem;color:#919090;letter-spacing:-1px;}
.kakao .info .num {float:right;width:23%;padding:3px 0 5px;border:2px solid #e3e5e9;border-radius:10px;text-align:center;background:#fff;}
.kakao .info .num .count {font-size:2.0rem;font-weight:100;color:#a8adb3;}
.kakao .info .num .count .current {font-weight:400;color:#6175ee;}
.kakao .info .num .script {font-size:0.9rem;color:#a8adb3;}
.game {padding:0 12px 16px;background:#fff;}
.game .kakao {background:#eff2f7;}

/* 팝업 - 카톡 공유 */
#Popup.pop-kakao {width:75%;margin:0 0 0 -37.5%;}
#Popup.pop-kakao .cont .txt {font-size:1.0rem;}
.pop-kakao .kakao {margin-top:20px;padding:14px 8px;background:#eff2f7;border-radius:10px;}
.pop-kakao .kakao .info {overflow:hidden;margin-bottom:0;}
.pop-kakao .kakao .info .txt {overflow:hidden;float:none;width:100%;}
.pop-kakao .kakao .info .txt .bul {float:left;width:13%;padding-top:10px;}
.pop-kakao .kakao .info .txt .txt-wrap {float:right;width:84%;}
.pop-kakao .kakao .info .txt .txt-wrap .script {padding:7px 0 5px 0;font-size:1.66rem;font-weight:700;color:#f35556;letter-spacing:-1px;}
.pop-kakao .kakao .info .txt .txt-wrap .guide {font-size:0.9rem;color:#919090;letter-spacing:-1px;}
.pop-kakao .kakao .info .num {float:none;width:31%;margin:9px auto 6px;padding:3px 0 5px;border:2px solid #e3e5e9;border-radius:10px;text-align:center;}
.pop-kakao .kakao .info .num .count {font-size:2.0rem;font-weight:100;color:#a8adb3;}
.pop-kakao .kakao .info .num .count .current {font-weight:400;color:#0061ff;}
.pop-kakao .kakao .info .num .script {font-size:0.9rem;color:#a8adb3;}
.pop-kakao .kakao .btn-area {width:95%;margin:0 auto;}

/* 20181130 리그개막 추가 S */
.league-d-day{font-size:1.9rem;color:#4d91ff;}
.league-d-day .d-day{width:91px;height:26px;display:block;margin:3px auto 21px;background:#0061ff;border:2px  solid #062d6e;border-radius:10px;font-size:1.8rem;color:#fff;}
.league-end-img {overflow:hidden;width:190px;margin:0 auto;}
.league-end-img li{float:left;width:38px;}
.league-txt{padding:16px 0 17px;font-size:1.3rem;line-height:1.9;}
.league-txt strong {background:#fff799;border-radius:10px;font-size:1.4rem;}
.notice{padding-top:14px;background:#e3e5e9;color:#555555;font-size:1.5rem;text-align:center;}

.game-cont-league {padding-top:13px;background:#e3e5e9;}
.game-cont-league.game-on {padding:13px 0 30px;}
.game-cont-league .tab-area {width:336px;margin:0 auto;}
.game-cont-league .tab-area .tab {overflow:hidden;background:transparent;}
.game-cont-league .tab-area .tab li {position:relative;float:left;width:50%;text-align:center;}
.game-cont-league .tab-area .tab li a {position:relative;display:block;width:100%;height:41px;padding:10px 0;font-size:1.4rem;color:#a8adb3;border-radius:5px 5px 0 0;z-index:1;}
.game-cont-league .tab-area .tab li a:hover, .game-cont-league .tab-area .tab li.on a {background:#fff;color:#095feb;}
.game-cont-league .tab-area .tab li.on:after {content:"";display:block;position:absolute;top:0;right:-23px;bottom:0;width:27px;height:41px;background:url("../images/main/bg_tab_q1.png") no-repeat 0 0;background-size:27px;}
.game-cont-league .tab-area .tab .q2.on:after {content:"";display:block;position:absolute;top:0;left:-23px;right:0;bottom:0;width:27px;height:41px;background:url("../images/main/bg_tab_q2.png") no-repeat 0 0;background-size:27px;}
.game-cont-league .tab-area .tab li .list {display:inline-block;width:29px;margin:0 7px;padding:3px 0;background:#a8adb3;font-size:1.0rem;color:#fff;border-radius:10px;text-align:center;}
.game-cont-league .tab-area .tab li.on .list, .game-cont-league .tab-area .tab li a:hover .list {background:#095feb;color:#fff;}
.game-cont-league .tab-area .tab li a span {vertical-align:middle;}
.game-cont-league .quiz-league.on {position:relative;border-radius:0 6px 6px 6px;background:#fff;z-index:0;}
.game-cont-league .quiz-league.on:after {content:"";display:block;position:absolute;top:0;left:0;right:-5px;bottom:-5px;border-radius:9px;border-right:7px solid #d6d9df;border-bottom:7px solid #d6d9df;z-index:-1;}
.game-cont-league .quiz {width:336px;margin:0 auto;padding:20px 24px 19px;text-align:center;}

/* postseason */
.bar-line {width:calc(100% - 36px);height:1px;margin:0 18px;background-color:#eee;}

.post #contents.solpick {min-height:calc(100vh - 35px);background:url("../images/main/bg_pick_q_post.png") top left no-repeat;background-size:100%;}
.post #contents.solpick.first {min-height:calc(100vh - 35px);background:url("../images/main/bg_pick_info_2021_post.png") top left no-repeat;background-size:100%;}
.post #contents.solpick.first.in-tab {background:url("../images/main/bg_pick_info_2021_post2.png") top left no-repeat;background-size:100%;background-color:#fff;}
.post #contents.solpick .game-wrap {width:100%;padding:0;background-color:#fff;}
.post #contents.solpick .game-wrap.first {padding:33px 18px}

/* solpick main */
.post .my-pick-info .my-point {width:100%;padding:0 36px;margin-bottom:19vw;}
.post .my-pick-info .my-point.first {padding:0;margin-bottom:12vw;}
.post .first.in-tab .my-pick-info .my-point.first {margin-bottom:22vw;}
.post .my-pick-info .my-point .my {margin-bottom:7px;color:#fff}
.post .my-pick-info .my-point .my .my-label {color:#4757a5;background:#fff47e;}

 /* calendar */
.post .date-select.play {position:relative;padding:20px 0 87px;margin-bottom:0}
.post .date-select.play .btn-calendar {position:absolute;top:24px;right:20px;width:33px;height:33px;border-radius:50%;background-color:#11348b;}
.post .date-select.play .today {display:inline-block;line-height:35px;}
/* tab */
.post .tab {overflow:hidden;position:absolute;top:-50px;width:100%;border-radius:10px 10px 0 0;border-bottom:1px solid #284899;background:none;}
.post .tab::after {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-color:#fff;opacity:0.5;}
.post .tab li {position:relative;float:left;width:50%;text-align:center;background:none;opacity:1;}
.post .tab li a {position:relative;display:block;width:100%;padding:14px 0 16px;font-size:1.6rem;color:#284899;z-index:1;}
.post .tab li.on {border-radius:10px 10px 0 0;background-color:#284899;opacity:1;z-index:2;}
.post .tab li.on a {color:#fff;}

.post .first.in-tab .tab-area .tab::after {background-color:#9aadde;opacity:1;}
.post .tab-area .tab li {width:33.3333%}
.post .tab-area .tab-team {width:70%;margin:0 auto 10px;}
.post .tab-area .tab-team::after {content:'';display:block;clear:both}
.post .tab-area .tab-team li {float:left;width:50%;}
.post .tab-area .tab-team li.on:after {display:none;}
.post .tab-area .tab-team li a {display:block;width:18.05555vw;height:18.05555vw;padding:4vw 0 3vw;border-radius:50%;background-color:#f2f4f8;margin:0 auto;color:#222;}
.post .tab-area .tab-team li a .emb {width:10.555vw;margin:0 auto 4px;text-align:center;}
.post .tab-area .tab-team li a .team {font-size:1.1rem;color:#a0a0a0}
.post .tab-area .tab-team li.on a {background-color:#26a8c2;}
.post .tab-area .tab-team li.on a .team {color:#fff;}

/* main */
.post .game-cont {position:relative;width:100%}
.post .game-cont .quiz {padding:17px 33px 15px;border-radius:0;text-align:center;}
.post .game-cont .quiz .quiz-box .tit {margin-bottom:17px;font-size:1.9rem;color:#141414;font-weight:700}
.post .game-cont .quiz .quiz-box .question dt {display:inline-block;width:auto;height:auto;padding:2px 10px 4px;border-radius:10px;font-size:1.2rem;color:#fff;font-weight:700;background:#21c0bd;line-height:inherit;}
.post .game-cont .quiz .quiz-box .question dd {margin-top:7px;font-size:1.7rem;color:#333;letter-spacing:-1px;word-break:keep-all;line-height:1.3;}
.post .game-cont .quiz .graph {position:relative;width:100%;height:25.83333vw;margin:0 auto 8.5vw;background-image:url("../images/main/bg_graph.png");background-size:100% 25.83333vw;}
.post .game-cont .quiz .graph .top5 li dl dd .rank {position:absolute;top:-9.7222vw;left:-1px;width:7.962962vw;height:8.98148vw;padding-top:1vw;font-size:1.1rem;color:#11348b;font-weight:700;text-align:center;background:url('../images/main/bg_ballon_p.png');background-size:7.962962vw 8.98148vw;}
.post .game-cont .quiz .graph .top5 li.high dl dd {background-color:#21c0bd;}
.post .game-cont .quiz .user-choice {color:#555}
/* state */
.post .game-cont .quiz.noti.no {padding-top:68px;}
.post .game-cont .quiz.noti.no img {width:46.0185vw;margin-bottom:0}
.post .game-cont .quiz.noti.no-attend {color:#ec5c73;font-weight:100;}
.post .game-cont .quiz.noti p {margin-bottom:32px;font-size:1.7rem;color:#ec5c73}
.post .game-cont .quiz.noti.link {padding:0}
.post .game-cont .quiz.noti.link a {display:block;margin-bottom:17px;}
.post .game-cont .quiz.noti.link a:last-child {margin-bottom:0;}
.post .game-cont .quiz.noti.link a img {width:100%;margin-bottom:0;}
.post .game-cont .quiz.noti.point .total-point dt {margin-bottom:11px;font-size:1.7rem;color:#0093a4;font-weight:700}
.post .game-cont .quiz.noti.point .total-point dd {width:216px;padding:14px 0;margin:0 auto;font-size:1.5rem;color:#fff;background-image:linear-gradient(to right, #2c8ec4, #21bec0);box-shadow:none;}
.post .game-cont .quiz.noti.point .total-point dd span {font-size:2.0rem;}
.post .game-cont .quiz.noti.point .point-list dl dt::before {background-color:#21c0bd;}
.post .game-cont .quiz.noti.point .point-list dl dd span {margin-right:5px;font-size:1.4rem;color:#21c0bd;font-weight:700}
.post .game-cont .noti.post {padding-top:33px;}
.post .game-cont .noti.post img {width:49.72vw;margin-bottom:12px;}
.post .game-cont .noti.post p {margin-bottom:0;font-size:1.7rem;color:#0b1966;font-weight:700;line-height:1.4}

.post .btn-solpick {padding:20px 33px}
.post .btn-solpick .btn {width:100%;padding:7px 0;border-radius:17px;font-size:1.8rem;background-color:#0b7977;}
.post .btn-nogame .btn-guide {width:148px;padding:8px 0;border-radius:17px;font-size:1.4rem;background-color:#0b7977;}
.post .btn-nogame .btn-event-go {width:148px;padding:8px 0;border-radius:17px;font-size:1.4rem;background-color:#005180;}
.post .notice-area .ing .num {color:#21c0bd}

/* q1, q2, q3 - 공용 */
.post .game-cont .quiz {position:relative;}
.post .game-cont .quiz-header {height:auto;margin-bottom:17px;color:#fff;border-radius:0;background-color:inherit;}
.post .game-cont .quiz-header::after {content:'';display:block;clear:both;}
.post .game-cont .quiz-header dt {float:none;display:inline-block;width:13.88889vw;height:auto;padding:3px 0 4px;border-radius:15px;font-size:1.1rem;font-weight:700;background-color:#21c0bd !important;line-height:inherit;}
.post .game-cont .quiz-header dt::after {display:none;}
.post .game-cont .quiz-header dd {float:none;display:inline-block;padding-left:5px;font-size:1.3rem;color:#21c0bd;line-height:inherit;}
/* q1, q2 - 공용_경기전 */
.post .game-cont .before .quiz-box {padding:0 0 15px}
/* q1, q2 - 공용_경기후 */
.post .game-cont .after .quiz-box {padding:0 0 10px;}
.post .game-cont .after .quiz-box .my-result dt {color:#0093a4}
.post .game-cont .after .quiz-box .my-result dd {display:inline-block;padding:0 12px;font-size:1.4rem;font-weight:100;color:#fe9b00;}
.post .game-cont .after .quiz-box .my-result.pass dt {margin-bottom:13px;}
.post .game-cont .after .quiz-box .my-result.pass dd::before {content:'';position:absolute;left:-12px;bottom:8px;width:15px;height:35px;background:url("../images/main/bg_left_pass_post.png") no-repeat 0 0;background-size:100%;}
.post .game-cont .after .quiz-box .my-result.pass dd::after {content:'';position:absolute;right:-20px;bottom:8px;width:24px;height:36px;background:url("../images/main/bg_right_pass_post.png") no-repeat 0 0;background-size:100%;}
.post .game-cont .after .quiz-box .my-result.pass dd p::after {content:'';position:absolute;left:0;bottom:0;width:100%;height:7px;background-color:#fff5a5;z-index:-1;}
.post .game-cont .after .quiz-box .my-result.no-attend dd p {color:#ec5c73}
/* q1 */
.post .game-cont .q1-app .graph .top5 {padding:0.8333vw 11.9444vw 0 11.9444vw}
.post .game-cont .q1-app .graph .top5 li {float:none;display:inline-block;width:9.72222vw;margin:0 3.33333vw}
.post .game-cont .q1-app .graph .top5 li.high dl dd .rate .num {font-size:1.4rem;}
.post .game-cont .q1-app .graph .top5 li dl dd {width:100%;margin:0;}
.post .game-cont .q1-app .graph .top5 li dl dd .rank {left:4px;}
.post .game-cont .q1-app.before .quiz-box .toggle input:checked + .slider {background-color:#ebebeb;text-align:left;}
.post .game-cont .q1-app.before .team-select {padding:0}
.post .game-cont .q1-app.before .team-select li .vs .place {color:#0b7977;}
.post .game-cont .q1-app.after .team-select li .team-box {width:38%}
.post .game-cont .q1-app.after .team-select li .team-box .record .score {font-size:1.6rem;}
.post .game-cont .q1-app.after .team-select li .team-box.select .team .name {color:#fff}
.post .game-cont .q1-app.after .team-select li .prediction-rate .rate {width:calc(100% - 16.7592vw);padding:0 7px}
.post .game-cont .q1-app.after.exception .quiz-box .my-result {margin-bottom:0}
.post .game-cont .q1-app.after.exception.only .my-result dt {margin-bottom:0}
/* q1 - 공용 */
.post .game-cont .q1-app .team-select li .team-box {float:left;width:43%;padding:6px 5px 7px;border:1px solid #ccc;border-radius:9px;font-size:1.2rem;color:#222;cursor:pointer;}
.post .game-cont .q1-app .team-select li .team-box.select {border:none !important;color:#fff;background:linear-gradient(to right, #2c90c4, #22bbc0);background-size:200% 100%;background-position:left bottom;transition:background .5s ease-in;animation:shake 0.82s cubic-bezier(.36,.07,.19,.97) both 0.5s;}
.post .game-cont .q1-app .team-select li .prediction-rate {padding:5px}
.post .game-cont .q1-app .team-select li .prediction-rate .rate {width:100%;padding:0}
.post .game-cont .q1-app .team-select li .prediction-rate .rate .home {float:right;width:34px;color:#b5bac0}
.post .game-cont .q1-app .team-select li .prediction-rate .rate .graph .bar {background:#2c8ec4;}
.post .game-cont .q1-app .team-select li .prediction-rate .rate .win {color:#2c8ec4;font-weight:700}
.post .game-cont .q1-app .team-select.long li .team-box .record .rank {padding:2px 0;}

/* q2, q3 공통 */
.post .game-cont .quiz .select-list {overflow:hidden;padding:0 0 7px !important;}
.post .game-cont .quiz .select-list li {position:relative;float:left;width:31%;height:auto;padding:2.7vw 0;border:1px solid #e1e1e1;border-radius:3px;font-size:1.3rem;color:#8a8c8e;text-align:center;}
.post .game-cont .quiz .select-list li:nth-child(3n+2) {margin:0 3.5%;}
.post .game-cont .quiz .select-list li.select:after {content:"";display:none;}

/* q2 */
.post .game-cont .q2-app .graph .top5 {padding:0.8333vw 0 0 6.3888vw;}
.post .game-cont .q2-app .graph .top5 li {width:7.5vw;margin:0 2.777vw;font-size:1.1rem;color:#7d7d7d;font-weight:700;line-height:1.4}
.post .game-cont .q2-app .graph .top5 li.high {width:18.32222vw;font-size:1.2rem;color:#0b7977;}
.post .game-cont .q2-app .graph .top5 li.high:first-child {margin:0;}
.post .game-cont .q2-app .graph .top5 li.high dl {width:9.72222vw;margin:0 auto;}
.post .game-cont .q2-app .graph .top5 li.high dl dd .rate .num {font-size:1.4rem;}
.post .game-cont .q2-app .graph .top5 li dl dd {width:100%;margin:0;}
.post .game-cont .q2-app .graph .top5 li dl dd .rank {left:4px;}
.post .game-cont .q2-app .select-list li.select {color:#fff;background:linear-gradient(to right, #2c90c4, #22bbc0);background-position:left bottom;transition:background .5s ease-in;animation:shake 0.82s cubic-bezier(.36,.07,.19,.97) both 0.5s;z-index:5;}
.post .game-cont .q2-app .quiz-box .team-record {overflow:hidden;padding:5px 0 7px;}
.post .game-cont .q2-app .quiz-box .team-record .away {float:left;width:40%;}
.post .game-cont .q2-app .quiz-box .team-record .home {float:right;width:40%;}
.post .game-cont .q2-app .quiz-box .team-record .team .emb {display:inline-block;width:50px;margin:0 auto;vertical-align:top;}
.post .game-cont .q2-app .quiz-box .team-record .team .name {display:inline-block;height:35.4px;line-height:35px;font-size:1.2rem}
.post .game-cont .q2-app .quiz-box .team-record .record {float:left;width:60%;margin-top:4px;text-align:center;}
.post .game-cont .q2-app .quiz-box .team-record .record .info {font-size:1.0rem;font-weight:100;}
.post .game-cont .q2-app .quiz-box .team-record .vs {float:left;width:20%;margin-top:4px;font-size:1.0rem;text-align:center;}
.post .game-cont .q2-app .quiz-box .team-record .vs .ico {width:32px;height:32px;margin:0 auto;padding-top:10px;background:#f2f4f8;font-size:1.1rem;font-weight:700;color:#8a8c8e;border-radius:20px;text-align:center;}
.post .game-cont .q2-app .quiz-box .team-record .vs .place {margin-top:10px;color:#a7a9ad;}

.post .game-cont .q2-app.before, .post .game-cont .q2-app.after {padding-bottom:0}
.post .game-cont .q2-app.after .quiz-box .team-record .team {float:left;width:65%;text-align:center;}
.post .game-cont .q2-app.after .quiz-box .team-record .record {float:left;width:35%;margin-top:6px;font-size:1.9rem;text-align:center;}
.post .game-cont .q2-app.after .quiz-box .team-record .vs .place {margin-top:5px;}

/* q3 */
.post .game-cont .q3-app .record-box {position:relative;height:125px;border:1px solid #0093a4;border-radius:4px;background:#f3f8f9;}
.post .game-cont .q3-app .record-box p {padding:55px 5px;font-size:1.4rem;color:#0093a4;word-break:keep-all;}
.post .game-cont .q3-app .record-box .box {position:relative;float:left;width:50%;height:125px;text-align:center;}
.post .game-cont .q3-app .record-box .box:first-child {border-radius:4px 0 0 4px;}
.post .game-cont .q3-app .record-box .box:last-child {border-radius:0 4px 4px 0;}
.post .game-cont .q3-app .record-box .tit {position:absolute;top:0;left:50%;padding:1px 10px 3px;font-size:1.1rem;color:#fff;border-radius:0 0 3px 3px;background-color:#0093a4;transform:translate(-50%, 0);z-index:10;}
.post .game-cont .q3-app .record-box .box .top {height:76px;}
.post .game-cont .q3-app .record-box .box .top .pic {position:absolute;top:17px;left:calc(50% - 38px);width:76px;height:76px;padding:0;border-radius:50%;border:2px solid #e0e6e7;background-color:#ebebeb;}
.post .game-cont .q3-app .record-box .box .top .emb {position:absolute;bottom:-2px;right:-8px;width:8.51vw;height:6.38888vw;}
.post .game-cont .q3-app .record-box .box .bottom {height:49px;padding-top:25px;font-size:1.2rem;color:#3e3e3e;}
.post .game-cont .q3-app .record-box .box .bottom span {position:relative;padding-left:5px;margin-left:5px;font-size:1.1rem;color:#444}
.post .game-cont .q3-app .record-box .box .bottom span::before {content:'';position:absolute;top:3px;left:0;width:1px;height:9px;background-color:#f3f8f9;}

.post .game-cont .q3-app .graph {margin-bottom:14vw}
.post .game-cont .q3-app .graph .top5 {padding:0.8333vw 0 0 6.3888vw;}
.post .game-cont .q3-app .graph .top5 li {width:13.5vw;margin:0;font-size:1.1rem;line-height:1.4}
.post .game-cont .q3-app .graph .top5 li.high {width:18.32222vw;font-size:1.2rem;}
.post .game-cont .q3-app .graph .top5 li.high:first-child {margin:0;}
.post .game-cont .q3-app .graph .top5 li.high dl {width:9.72222vw;margin:0 auto;}
.post .game-cont .q3-app .graph .top5 li.high dd .rate .num {font-size:1.4rem;}
.post .game-cont .q3-app .graph .top5 li.high img {opacity:1}
.post .game-cont .q3-app .graph .top5 li.high p {font-size:1.2rem;color:#0b7977}
.post .game-cont .q3-app .graph .top5 li dl {width:7.5vw;margin:0 auto;}
.post .game-cont .q3-app .graph .top5 li dl dd {width:100%;margin:0;}
.post .game-cont .q3-app .graph .top5 li dl dd .rank {left:4px;}
.post .game-cont .q3-app .graph .top5 li img {width:9.72222vw;}
.post .game-cont .q3-app .graph .top5 li p {line-height:18px;font-size:1.0rem;color:#7d7d7d;font-weight:700;letter-spacing:-1.0px;}

.post .game-cont .q3-app .player-list {text-align:left;}
.post .game-cont .q3-app .player-list .script {color:#e4778e;font-size:1.2rem;text-align:center;}
.post .game-cont .q3-app .player-list h4 {padding:6px 0;font-size:1.2rem;color:#044155}
.post .game-cont .q3-app .select-list li.select {border:0;color:#fff;background:linear-gradient(to right, #2c90c4, #22bbc0);background-position:left bottom;transition:background .5s ease-in;animation:shake 0.82s cubic-bezier(.36,.07,.19,.97) both 0.5s;z-index:5;}

.post .game-cont .q3-app.after .quiz-box .my-result.pass dd.mvp::before {content:'';position:absolute;top:-1px;left:9px;width:7.5vw;height:6.1111vw;background:url('../images/sub/icon_mvp_p.png');background-size:7.5vw 6.1111vw;}
.post .game-cont .q3-app.after .quiz-box .my-result.pass dd.mvp::after {background:none;}
.post .game-cont .q3-app.after .quiz-box .my-result.pass dd p {position:relative;color:inherit;font-weight:400;z-index:1;}
.post .game-cont .q3-app.after .quiz-box .my-result.pass dd p span {color:inherit;font-weight:700}
.post .game-cont .q3-app.after .quiz-box .my-result .mvp {position:relative;display:block;width:29.074vw;height:26.6667vw;padding:0;margin:10px auto 0;background:url('../images/sub/img_mvp_p.png');background-size:29.074vw 26.6667vw;}
.post .game-cont .q3-app.after .quiz-box .my-result .mvp::before {content:'';position:absolute;top:-1px;left:9px;width:7.5vw;height:6.1111vw;background:url('../images/sub/icon_mvp_p.png');background-size:7.5vw 6.1111vw;}
.post .game-cont .q3-app.after .quiz-box .my-result .mvp div {width:22.222vw;height:22.222vw;margin:0 auto;border-radius:50%;border:1px solid #0093a4;background-color:#b8eef4;}
.post .game-cont .q3-app.after .quiz-box .my-result .mvp .name {margin-top:4.8vw;font-size:1.2rem;color:#000;font-weight:700}
.post .game-cont .q3-app.after .quiz-box .my-result .mvp .name::after {display:none}

@keyframes shake {
  10%, 90% {
    transform: translate3d(0, -0.5px, 0);
  }
  
  20%, 80% {
    transform: translate3d(0, 0.75px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0, -1px, 0);
  }

  40%, 60% {
    transform: translate3d(0, 1.25px, 0);
  }
}