@charset "utf-8";

/* clearfix */
.clear::after {content:"";display:block;clear:both;}

/* hidden */
.hidden-obj {visibility:hidden;overflow:hidden;width:0;height:0;line-height:0;font-size:0;text-indent:-9999px;}

/* layout */
.dp-none {display:none;}
.dp-i {display:inline !important;}
.dp-b {display:block !important;}
.dp-ib {display:inline-block !important;}

/* align */
.txt-c {text-align:center !important;}
.txt-l {text-align:left !important;}
.txt-r {text-align:right !important;}

.mb50 {margin-bottom:50px;}

/* popup */
.modal {position:fixed;top:0;left:0;bottom:0;right:0;z-index:15;background:#000;opacity:0.3;}

/* datapicker */
.ui-datepicker {width:25em}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {width:30%;margin:0 5px;}
.ui-widget-header .ui-icon {background-image:url('../images/common/ui-icons_444444_256x240.png');}
