@charset "utf-8";

html, body {position:relative;height:100%;}
body {background:#fff;}
#wrap {position:relative;}
.inner {overflow:hidden;position:relative;width:1020px;margin:0 auto;}

header {border-bottom:2px solid #194194;}
header h1 {float:left;width:145px;padding:5px 0;}
header h1 img {width:100%;}

#gnb {float:right;padding-top:56px;}
#gnb .menu {float:right;}
#gnb .menu:after {content:"";clear:both;display:block;}
#gnb .menu > li {float:left;position:relative;margin-right:76px;text-align:center;}
#gnb .menu > li:nth-child(3) {width:78px;}
#gnb .menu > li:nth-child(4) {width:69px;}
#gnb .menu > li:last-child {width:45px;margin-right:0;padding-right:4px;}
#gnb .menu > li > a {display:inline-block;width:100%;color:#444;font-size:16px;z-index:10;}
#gnb .menu > li > a:hover, #gnb .menu > li.on > a {color:#0e2169;font-weight:700;font-style:italic;}
#gnb .menu > li > a:hover:after, #gnb .menu > li.on > a:after {content:"";position:absolute;bottom:0;left:0;width:100%;height:9px;background:#ff83b6;border-radius:4px;z-index:-10;}
#gnb .menu > li.event > a:hover:after, #gnb .menu > li.event.on > a:after {background:#b3e1ff;}

header .login-info {overflow:hidden;position:absolute;top:12px;right:0;}
header .login-info li {float:left;color:#666;}
header .login-info .kbo-home a {display:inline-block;width:151px;margin-top:2px;padding:4px 0 3px;background:#ff83b6;color:#fff;border-radius:9px;font-weight:700;text-align:center;}
header .login-info .login .btn-login {display:inline-block;width:51px;height:23px;margin-left:15px;line-height:21px;border:1px solid #cdcdcd;vertical-align:middle;text-align:center;box-sizing:border-box;}
header .login-info .user {position:relative;margin:5px 20px 0 25px;padding-right:20px;font-size:13px;}
header .login-info .user:after {content:"";position:absolute;top:3px;right:0;width:1px;height:12px;background:#cdcdcd;}
header .login-info .logout {margin-top:5px;font-size:13px;}

#container {position:relative;}
#container .visual-area {position:relative;overflow:hidden;height:636px;background:url('../images/main/bg_visual.png') no-repeat 50% 0/1920px;}
#container .visual-area::before {content:"";position:absolute;top:0;left:50%;z-index:-10;width:105%;height:636px;background:linear-gradient(90deg, rgba(0,0,41,1) 0%, rgba(10,18,103,1) 90%);transform:translateX(-50%);}
#container .visual-area .tit-allstar {padding-top:38px;text-align:center;}
#container .visual-area .tit-allstar.best {display:none;}
#container .visual-area .host {margin-top:10px;text-align:center;}
#container .visual-area .banner-list {display:none;/*display:flex;*/justify-content:space-between;width:570px;margin:15px auto 0;}
#container .visual-area .banner-list li {display:flex;justify-content:center;align-items:center;width:269px;height:79px;border:3px solid #232c51;border-radius:6px;background:#fff;}
#container .visual-area .video-area {width:564px;margin:23px auto 0;}

#container .visual-area.vote-complete {height:252px;background:url('../images/main/bg_visual.png') no-repeat 50% 50%/1920px;}
#container .visual-area.vote-complete::before {content:"";position:absolute;top:0;left:50%;z-index:-10;width:105%;height:251px;background:linear-gradient(90deg, rgba(0,0,41,1) 0%, rgba(10,18,103,1) 90%);transform:translateX(-50%);}
#container .visual-area.vote-complete .tit-allstar {display:none;}
#container .visual-area.vote-complete .tit-allstar.best {display:block;padding-top:36px;}
#container .visual-area.vote-complete .video-area {display:none;}

#container.event .visual-area {height:677px;text-align:center;background:url('../images/sub/bg_event.png') no-repeat 50% 0/1920px}

#container .checkbox-area {width:1020px;margin:0 auto;padding-bottom:46px;text-align:right;}
#container .checkbox-area input {display:none;}
#container .checkbox-area input[type="checkbox"] + label {font-size:14px;cursor:pointer;}
#container .checkbox-area input[type="checkbox"]:checked + label {background-position: 0 -17px;}
#container .checkbox-area label {display:inline-block;padding:0 0 0 21px;background:url('../images/sub/bg_checkbox_allstar.png') no-repeat 0 0;background-size:16px;color:#555;vertical-align:top;}

#container .kbo-complete {display:none;margin-top:67px;padding:82px 0 69px;background:url("../images/sub/bg_kbopc.png") no-repeat 50% 0/104px;text-align:center;}
#container .kbo-complete .btn-kbopc {display:inline-block;padding:16px 72px 16px 55px;background:#102269 url("../images/sub/bg_arrow_right_w.png") no-repeat 84.625% 50%/10px;color:#fff;border-radius:24px;font-size:18px;}

#contents {width:1020px;margin:0 auto;/*padding-bottom:150px;*/}
#contents.main {width:100%;}
#contents.main .vote-guide, #contents.main .voting-state {width:1020px;margin:0 auto;}

footer {width:100%;padding:40px 0 39px;color:#666;border-top:1px solid #c7c7c7;text-align:center;}
footer address {font-size:18px;}
footer address .ft-tip {display:block;padding-top:11px;font-size:15px;}

/* 팝업 */
.pop-on {overflow:hidden;}
#modal {position:fixed;top:0;left:0;bottom:0;right:0;z-index:15;background:#000;opacity:0.3;}
.popup {position:fixed;top:50%;left:50%;z-index:20;width:464px;height:233px;background:#fff;transform:translate(-50%, -50%);}
.popup .btn-close {position:absolute;top:6px;right:6px;width:36px;height:30px;}
.popup .btn-close span {display:inline-block;position:absolute;top:50%;width:3px;height:20px;margin-left:17px;background:#363689;transform:translateY(-50%) rotate(-45deg);text-indent:-9999px;}
.popup .btn-close span::before {content:"";position:absolute;top:0;right:0;width:3px;height:20px;background:#363689;transform:rotate(90deg);}
.popup .content .txt {padding:67px 0 51px;font-size:18px;font-weight:700;text-align:center;}
.popup .content .txt span {color:#363689;}
.popup .content .btn-area .btn {display:inline-block;width:194px;border-radius:30px;background:#363689;color:#fff;font-size:16px;font-weight:700;line-height:47px;}
