@charset "utf-8";

@font-face {
  font-family:'ns';
  font-style: normal;
  font-weight: 100;
  src: url('../font/NanumSquareL.eot');
  src: url('../font/NanumSquareL.eot?#iefix') format('embedded-opentype'), url('../font/NanumSquareL.woff') format('woff');
}
@font-face {
  font-family:'ns';
  font-style: normal;
  font-weight: 400;
  src: url('../font/NanumSquareR.eot');
  src: url('../font/NanumSquareR.eot?#iefix') format('embedded-opentype'), url('../font/NanumSquareR.woff') format('woff');
}
@font-face {
  font-family:'ns';
  font-style: normal;
  font-weight: 700;
  src: url('../font/NanumSquareB.eot');
  src: url('../font/NanumSquareB.eot?#iefix') format('embedded-opentype'), url('../font/NanumSquareB.woff') format('woff');
}
@font-face {
  font-family:'ns';
  font-style: normal;
  font-weight: 900;
  src: url('../font/NanumSquareEB.eot');
  src: url('../font/NanumSquareEB.eot?#iefix') format('embedded-opentype'), url('../font/NanumSquareEB.woff') format('woff');
}
