@charset "utf-8";

/* common */
.info-box {position:relative;height:60px;padding:5px 5px 0 10px}
.info-box .emb {float:left;width:50px;height:50px;margin-right:18px;border:2px solid #cad2e3;border-radius:50%;background-color:#fff;}
.info-box .emb img {width:100%;max-height:100%;border-radius:50%;}
.info-box .info {padding-top:10px;font-size:27px;color:#fff;font-weight:700}
.info-box .info span {position:relative;display:inline-block;width:180px;margin-right:20px;font-size:inherit;color:inherit}
.info-box .info span.mascot-name {padding-left:25px;color:#222}
.info-box .info span.mascot-name:before {content:'';position:absolute;top:4px;left:0;width:3px;height:25px;background:#fff;}
.info-box.big {padding:0;margin-bottom:10px;}
.info-box.big .info {float:left;width:205px;margin-top:8px;height:46px;padding:8px 10px 0;background:#fff;;}
.info-box.big .info span {width:auto}
.info-box.big .emb {width:60px;height:60px;margin-right:12px;}
.info-box.big .info span.mascot-name {padding-left:0;}
.info-box.big .info span.mascot-name::before {display:none}
.final-box {padding-bottom:120px;text-align:center;}
.final-box::after {content:"";display:block;clear:both;}
.final-box .btn {display:inline-block;margin:0 36px;}
.final-box .btn.custom {display:inline-block;width:380px;height:80px;padding-top:22px;margin:5px 40px;border:2px solid #e5e5e5;font-size:27px;color:#6a6a6a;text-align:center;outline:none}
.final-box .btn .pc {display:block;}
.final-box .btn .mobile {display:none;}
.final-box .final-noti {line-height:1.3;margin:20px 0 80px;font-size:30px;color:#000;letter-spacing:-1.0px;}
.final-box .final-noti b {line-height:1.3;font-size:inherit;font-weight:700;}
.final-box .final-noti img {vertical-align:bottom;}
.alert-txt {line-height:1.3;font-size:21px;color:#e76767;font-weight:700;letter-spacing:-1.0px}
.alert-txt.gray {margin-bottom:10px;color:#5c5c5c;font-weight:400;}

/* vote */
.vote-wrap {width:1100px;padding-top:110px;margin:0 auto 80px;}
.vote-wrap .title h2 {position:relative;margin-bottom:55px;text-align:center}
.vote-wrap .title h2 .sub-tit {display:inline-block;width:783px;height:296px;background-image:url('../images/sub/txt_vote.png');vertical-align:top;}
.vote-wrap .title h2 .sub-tit.finish {display:inline-block;width:544px;height:115px;background-image:url('../images/sub/txt_pick.png');vertical-align:top;}
.vote-wrap .title .vote-txt {margin:40px 0 40px;font-size:17px;color:#fff;text-align:right;}
.vote-wrap .vote-cont li {float:left;width:528px;margin-bottom:20px;border:2px solid transparent;cursor:pointer}
.vote-wrap .vote-cont li.on {position:relative;border:2px solid #ccc0b3;background:#9f1758;}
.vote-wrap .vote-cont li.on::before {content:'';position:absolute;top:13px;right:11px;width:35px;height:35px;background-image:url('../images/sub/icon_check.png');}
.vote-wrap .vote-cont li:nth-child(2n) {float:right;}
.vote-wrap .vote-cont .img-box {position:relative;width:514px;height:330px;margin:0 auto 10px;border:1px solid #ccc0b3;background:#fff;box-sizing:border-box;}
.vote-wrap .vote-cont .img-box img {width:100%;height:100%}
.vote-wrap .vote-cont .img-box .profile-view {position:absolute;bottom:0;right:0;width:200px;height:38px;padding-top:7px;font-size:20px;color:#fff;text-align:center;background-color:#9f1758;}

/* vote finish */
.vote-wrap.finish {width:100%;padding-top:65px;}
.vote-wrap .pick-wrap {padding-top:23px;}
.vote-wrap .pick-wrap .pick-box {width:958px;margin:0 auto;}
.vote-wrap .pick-wrap .pick-box li {margin-bottom:20px}
.vote-wrap .pick-wrap .pick-box li .pic-cont {height:255px;}
.vote-wrap .pick-wrap .pick-box li .pic-cont img {width:380px;height:254px;border:2px solid #cad2e3}
.vote-wrap .pick-wrap .pick-box li .pic-cont .balloon {float:right;width:544px;height:254px;padding:30px 40px 30px 95px;background:url('../images/sub/bg_balloon.png') no-repeat;}
.vote-wrap .pick-wrap .pick-box li .pic-cont .balloon .txt {height:100%;line-height:1.2;font-size:34px;color:#2f2f2f;font-family:'gs';font-weight:700;word-break:keep-all;overflow-y:auto;}
.vote-wrap .pick-list {display:none;}

.vote-wrap .pick-wrap.my {width:1043px;margin:0 auto;padding:20px 50px;background-color:#ff6c27;box-shadow:5px 12px 15px 11px #00000017}
.vote-wrap .pick-wrap.my ul li {height:140px;padding:20px 0 17px 100px;border-bottom:10px solid #fa5508}
.vote-wrap .pick-wrap.my ul li:last-child {border-bottom:0}
.vote-wrap .pick-wrap.my ul li .date {position:relative;float:left;width:320px;padding-top:22px;margin-right:60px;}
.vote-wrap .pick-wrap.my ul li .date::after {content:'';position:absolute;top:25px;right:0;width:8px;height:40px;background-color:#fff;}
.vote-wrap .pick-wrap.my ul li .date span {margin:0 48px 0 25px;font-size:46px;color:#fff;font-family:'gs';font-weight:700;}
.vote-wrap .pick-wrap.my ul li .profile {float:left;width:90px;height:90px;margin-right:50px;border-radius:50%;border:2px solid #cdccd9;background-color:#fff;}
.vote-wrap .pick-wrap.my ul li .profile:last-child {margin-right:0}
.vote-wrap .pick-wrap.my ul li .profile img {width:100%;border-radius:50%;}
.vote-wrap .pick-wrap.my ul li .txt {padding-top:22px;font-size:46px;color:#fff;font-family:'gs';font-weight:700;}
/* mascot */
.profile-wrap {width:1000px;padding-top:50px;margin:0 auto;}
.profile-wrap .info-box .info {width:auto !important;background-color:transparent;}
.profile-wrap .info-box .info span {color:#222}
.profile-wrap .info-box .info span.mascot-name {padding-left:25px;}
.profile-wrap .info-box .info span.mascot-name:before {display:inline-block;background-color:#222;}
.profile-wrap .info-box a {position:absolute;top:5px;right:0;}
.profile-wrap .info-box a .insta {display:inline-block;width:50px;height:50px;background:url('../images/sub/icon_insta.png');}
.profile-wrap .info-box a .twitter {display:inline-block;width:51px;height:42px;background:url('../images/sub/icon_twitter.png');}
.profile-wrap .porfile-pic {width:100%;height:640px;overflow:hidden;}
.profile-wrap .porfile-pic li {position:relative;float:left;width:100%;height:640px;}
.profile-wrap .porfile-pic li img {max-width:100%;max-height:100%;}
.profile-wrap .color-tit {padding:0 5px;margin:20px 0 15px;font-size:36px;color:#fff}
.profile-wrap .color-tit.red {padding:0;color:#000;font-weight:700}
.profile-wrap .color-tit span {margin:0 45px;font-size:36px;color:#000;}
.profile-wrap .profile-box {width:1025px;padding-top:40px;padding-right:33px;margin-bottom:75px;}
.profile-wrap .tbl {table-layout:fixed;width:100%;margin-bottom:70px;}
.profile-wrap .tbl tr th {padding:6px 0 6px 35px;font-size:25px;font-family:'gs';color:#fff;text-align:left;}
.profile-wrap .tbl tr td {padding:6px 0;font-size:20px;font-family:'gs';color:#3c3c3c;text-align:left;}
.profile-wrap .tbl tr td div {min-height:48px;padding:13px 12px 7px;font-size:25px;font-family:'gs';color:#3c3c3c;border-radius:24px;background-color:#fff;word-break:keep-all;}
.profile-wrap .tbl tr.big th {vertical-align:top;}
.profile-wrap .tbl tr.big td div {min-height:153px}
.profile-wrap .tbl.mb {display:none}
.profile-wrap .video {height:580px;margin-bottom:70px;background-color:#fff;} 
.profile-wrap .chat-wrap {margin-bottom:30px;}
.profile-wrap .chat-wrap .chat-box {min-height:308px;padding:33px 40px 10px;border:2px solid #d7d8e7;background:#fff;}
.profile-wrap .chat-wrap .chat-box li {position:relative;margin-bottom:15px;}
.profile-wrap .chat-wrap .chat-box li:last-child {margin-bottom:0;}
.profile-wrap .chat-wrap .chat-box li span {display:inline-block;font-size:26px;color:inherit;vertical-align:top;word-break:break-all}
.profile-wrap .chat-wrap .chat-box li span.name {width:126px;font-weight:700;}
.profile-wrap .chat-wrap .chat-box li span.text {width:calc(100% - 255px);}
.profile-wrap .chat-wrap .chat-box li span.time {width:104px;margin-left:5px;text-align:right;}
.profile-wrap .chat-wrap .chat-box li.team span {font-weight:700 !important;}
.profile-wrap .chat-wrap .chat-box li .admin-btn {position:absolute;top:2px;right:-30px;width:25px;height:25px;background:url('../images/sub/icon_remove.png');cursor:pointer;}
.profile-wrap .chat-wrap .input-box {position:relative;padding:15px;background:#fff;}
.profile-wrap .chat-wrap .input-box input {width:860px;height:66px;padding:10px 80px 10px 10px;font-size:26px;border:2px solid #d7d8e7;}
.profile-wrap .chat-wrap .input-box .remove-btn {position:absolute;top:17px;right:129px;width:65px;height:62px;background:url('../images/sub/icon_remove2.png');cursor:pointer;}
.profile-wrap .chat-wrap .input-box .input-btn {float:right;width:96px;height:66px;border-radius:10px;font-size:27px;color:#fff;font-weight:700;border:2px solid #d7d8e7;background:#ff6c27;letter-spacing:-1.0px;}
.profile-wrap .bx-wrapper .bx-controls-direction a {top:208px;width:78px;height:181px;}
.profile-wrap .bx-wrapper .bx-prev,
.profile-wrap .bx-wrapper .bx-prev:hover {left:20px;}
.profile-wrap .bx-wrapper .bx-next,
.profile-wrap .bx-wrapper .bx-next:hover {right:20px;}

.pagenation {margin-bottom:60px;text-align:center;}
.pagenation .prev {margin-right:10px;}
.pagenation .prev span {display:inline-block;width:18px;height:18px;font-size:0;background-image:url('../images/sub/icon_prev.png');vertical-align:middle;}
.pagenation .num {display:inline-block;vertical-align:top;}
.pagenation .num a {padding:0 8px;margin:0 8px;font-size:18px;color:#fff;font-weight:700;}
.pagenation .num a.on {font-weight:700;color:#3b3b3b}
.pagenation .next {margin-left:10px;}
.pagenation .next span {display:inline-block;width:18px;height:18px;font-size:0;background-image:url('../images/sub/icon_next.png');vertical-align:middle;}

/* login */
.mem-wrap {width:900px;padding-top:50px;margin:0 auto;}
.mem-wrap .mem-tit {margin-bottom:45px;font-size:46px;color:#3b3b3b;text-align:center;}
.mem-wrap .mem-txt {line-height:1.4;margin-bottom:55px;font-size:28px;color:#5c5d60;font-weight:400;text-align:center;}
.mem-wrap .mem-txt span {font-size:inherit;color:inherit;font-weight:700}
.mem-wrap .login-wrap {display:flex;width:100%;height:377px;}
.mem-wrap .login-wrap .right {width:50%;height:100%;padding-left:22px;text-align:center;}
.mem-wrap .login-wrap .right img {margin-bottom:28px;}
.mem-wrap .login-wrap .right .alert-txt {text-align:left;}
.mem-wrap .login-wrap .right .join-btn {display:inline-block;width:100%;height:60px;padding-top:14px;font-size:27px;color:#6a6a6a;font-weight:700;text-align:center;background-color:#e5dbd0;}
.mem-wrap .login-wrap .left {width:50%;height:100%;padding-right:22px;}
.mem-wrap .login-wrap .left .login-box {position:relative;width:100%;height:60px;padding:0 15px;margin-bottom:10px;border:1px solid #cad2e3;}
.mem-wrap .login-wrap .left .login-box input {width:100%;height:100%;font-size:22px;color:#4f4f4f;outline:none;}
.mem-wrap .login-wrap .left .save-box {margin:14px 0 24px;}
.mem-wrap .login-wrap .left .save-box input {width:15px;height:15px;margin-right:10px;}
.mem-wrap .login-wrap .left .save-box label {font-size:20px;color:#6a6b6d;vertical-align:sub;}
.mem-wrap .login-wrap .left .login-btn {width:100%;height:60px;margin-bottom:10px;font-size:27px;color:#fff;font-weight:700;border:2px solid #fc6b7a;background:#eb6762;text-align:center;outline:none}
.mem-wrap .easy-wrap {padding:30px 0 50px;border-top:1px solid #ccc;text-align:center;}
.mem-wrap .easy-wrap .tit {margin-bottom:20px;font-size:30px;}
.mem-wrap .easy-wrap .easy-btn {display:inline-block;width:222px;margin:0 20px;}
.mem-wrap .easy-wrap .easy-btn img {width:222px;height:49px;}

/* join */
.join-wrap {width:1000px;padding-top:50px;margin:0 auto;}
.join-wrap .join-tit {padding-bottom:23px;border-bottom:1px solid #c9d1e3;color:#3b3b3b;font-size:33px;text-align:center;}
.join-wrap .join-txt {margin:20px 0;font-size:21px;color:#5c5d60;font-weight:700;}
.join-wrap .join-sub-tit {padding:15px 0 13px;font-size:24px;color:#3b3b3b;font-weight:700}
.join-wrap .agree-wrap {width:100%;margin-bottom:60px;}
.join-wrap .agree-wrap .title {height:52px;padding:14px 20px;border:1px solid #cad2e3;font-size:21px;color:#3b3b3b;font-weight:700}
.join-wrap .agree-wrap .agree-box {height:269px;line-height:1.5;padding:20px;border:1px solid #cad2e3;border-top:0;font-size:13px;overflow-y:scroll;}
.join-wrap .agree-wrap .agree-box p {line-height:1.5;font-size:14px;font-weight:700;}
.join-wrap .choice-box {padding:12px 15px 0;font-size:20px;color:#3b3b3b}
.join-wrap .choice-box span input {margin:0 10px 0 24px;vertical-align:unset;}
.join-wrap .choice-box span label {font-size:20px;color:#ef5464}
.join-wrap .event-wrap {margin-bottom:30px;border-top:1px solid #c9d1e3;border-bottom:1px solid #c9d1e3;}
.join-wrap .event-wrap .title {height:54px;padding:14px 0;border-bottom:1px solid #c9d1e3;font-size:20px;color:#3b3b3b;font-weight:700;}
.join-wrap .event-wrap .event {padding:10px 0;border-bottom:1px solid #c9d1e3;font-size:20px;color:#3b3b3b}
.join-wrap .event-wrap .choice-box {height:50px;padding:12px 0 0}
.join-wrap .total-agree {margin-bottom:25px;}
.join-wrap .total-agree input {width:15px;height:15px;margin-right:10px;}
.join-wrap .total-agree label {font-size:21px;color:#2f2f30;vertical-align:sub;}
.join-wrap .total-agree .alert-txt {margin-top:10px;}
.join-wrap .privacy-wrap {line-height:1.4;font-size:20px;color:#2f2f30;}
.join-wrap .privacy-wrap p {margin-bottom:20px;font-size:inherit;color:inherit;font-weight:700;}
.join-wrap .privacy-wrap .final-box {margin-top:90px;}

/* join2 */
.join-wrap.step2 {width:1100px;}
.join-wrap.step2 .alert-txt.tip {padding:17px 0 16px;font-size:19px;font-weight:700;text-align:right;}
.join-wrap.step2 .member-box {padding:29px 42px 20px;border:1px solid #cad2e3;border-left:0;border-right:0;}
.join-wrap.step2 .member-box dl {overflow:hidden;margin-bottom:11px;}
.join-wrap.step2 .member-box dl dt {float:left;width:178px;padding-top:16px;font-size:20px;color:#3b3b3b;font-weight:700;}
.join-wrap.step2 .member-box dl dt.txt {padding-top:0;}
.join-wrap.step2 .member-box dl dt span {display:inline-block;margin-left:7px;padding-top:2px;color:#f75151;vertical-align:top;}
.join-wrap.step2 .member-box dl dd {float:left;width:calc(100% - 180px);font-size:20px;color:#3b3b3b;}
.join-wrap.step2 .member-box dl dd input,
.join-wrap.step2 .member-box dl dd select {width:234px;height:55px;padding-left:20px;border:2px solid #cad2e3;color:#3b3b3b;font-size:20px;vertical-align:middle;box-sizing:border-box;}
.join-wrap.step2 .member-box dl dd select option {font-size:20px}
.join-wrap.step2 .member-box dl dd .member-btn {display:inline-block;height:55px;padding:15px 42px 14px;margin-right:15px;border:2px solid #86888a;color:#4b4b4b;font-size:20px;vertical-align:middle;}
.join-wrap.step2 .member-box dl dd .alert-txt {margin-top:11px;font-size:18px;}
.join-wrap.step2 .member-box dl dd .alert-txt.gray {margin:10px 0 7px;color:#5c5d60;font-size:17px;}
.join-wrap.step2 .member-box dl dd .ipt.id {width:330px}
.join-wrap.step2 .member-box dl dd .ipt.addr {width:333px}
.join-wrap.step2 .member-box dl dd .ipt.addr.long {width:100%;margin-top:5px;}
.join-wrap.step2 .member-box dl dd .ipt.email {width:150px;}
.join-wrap.step2 .member-box dl dd .sel.email {width:200px;vertical-align:top;}
.join-wrap.step2 .member-box dl.data dd {padding:16px 0;}
.join-wrap.step2 .member-box dl.data dd span {font-size:17px}
.join-wrap.step2 .member-box.edit {padding:130px 0 130px 280px}
.join-wrap.step2 .member-box.edit dl dt {width:280px;}
.join-wrap.step2 .member-box.edit dl dd {width:calc(100% - 280px)}
.join-wrap.step2 .join-noti {border-bottom:1px solid #cad2e3;padding:40px 0;font-size:21px;color:#3b3b3b}
.join-wrap.step2 .join-noti p {line-height:1.4;margin-bottom:5px;font-size:21px;color:#3b3b3b}
.join-wrap.step2 .join-noti p:last-child {margin-bottom:0;}
.join-wrap.step2 .join-noti p.important {font-weight:700}
.join-wrap.step2 .join-noti p.important span {font-size:inherit;color:#ef5464;}

@media (max-width:640px) {
  /* common */
  .info-box {position:relative;height:10.5vw;padding:1.25vw 5px 0 5px}
  .info-box .emb {float:left;width:7.8125vw;height:7.8125vw;margin-right:10px;}
  .info-box .info {padding-top:7px;font-size:1.4rem;font-weight:700}
  .info-box .info span {width:90px;margin-right:18px;}
  .info-box .info span.mascot-name {padding-left:15px}
  .info-box .info span.mascot-name:before {top:1px;width:2px;height:14px;vertical-align:text-top;}
  .info-box.big {height:8.4375vw;padding:0;margin-bottom:5px}
  .info-box.big .info {width:90px;height:auto;padding:3px 10px;margin-top:5px}
  .info-box.big .emb {width:8.4375vw;height:8.4375vw;margin-right:10px;}
  .final-box {padding-bottom:40px;}
  .final-box .btn {display:inline-block;width:43%;margin:0 2.5px 10px;}
  .final-box .btn img {width:100%;}
  .final-box .btn span {display:block;width:100%;height:40px;line-height:40px;border-radius:20px;font-size:1.3rem;}
  .final-box .btn.custom {width:80%;height:44px;padding-top:14px;margin:5px 0;border:1px solid #e5e5e5;font-size:1.4rem;color:#6a6a6a;text-align:center;outline:none}
  .final-box .btn .pc {display:none;}
  .final-box .btn .mobile {display:block;}
  .final-box .btn.solo {width:60%;}
  .final-box .final-noti {line-height:1.3;padding:0 20px;margin:10px 0 20px;font-size:1.4rem;word-break:keep-all;}
  .final-box .final-noti span {line-height:1.3;font-size:inherit;font-weight:700;}
  .final-box .final-noti img {width:75%}
  .alert-txt {font-size:1.3rem;font-weight:400}
  .alert-txt.gray {margin-bottom:10px;}
  
  /* vote */
  .vote-wrap {width:100%;padding:30px 15px 0;margin-bottom:20px;}
  .vote-wrap .title h2 {position:relative;margin-bottom:15px;text-align:center}
  .vote-wrap .title h2 img {width:95%;}
  .vote-wrap .title .vote-txt {margin:15px 0 20px;font-size:1.0rem;color:#fff;text-align:center;word-break:keep-all;}
  .vote-wrap .vote-cont li {float:unset;width:100%;margin-bottom:0;}
  .vote-wrap .vote-cont li.on::before {content:'';position:absolute;top:2.5vw;right:10px;width:5.46875vw;height:5.46875vw;background-image:url('../images/sub/icon_check.png');background-size:5.46875vw 5.46875vw;}
  .vote-wrap .vote-cont li:nth-child(2n) {float:unset;}
  .vote-wrap .vote-cont .img-box {width:99%;height:57.5vw;margin-bottom:3px;}
  .vote-wrap .vote-cont .img-box .profile-view {width:124px;height:auto;padding:6px 0 4px;font-size:1.2rem;}

  /* vote finish */
  .vote-wrap.finish {width:100%;padding:30px 0 0}
  .vote-wrap.finish .title h2 img {width:60%}
  .vote-wrap .pick-wrap {padding-top:10px;}
  .vote-wrap .pick-wrap .pick-box {width:100%;}
  .vote-wrap .pick-wrap .pick-box li {padding:0 42px;}
  .vote-wrap .pick-wrap .pick-box li {margin-bottom:5px}
  .vote-wrap .pick-wrap .pick-box li .pic-cont {height:auto;}
  .vote-wrap .pick-wrap .pick-box li .pic-cont img {width:100%;height:49.21875vw;margin:0 0 5px;border:1px solid #cad2e3;}
  .vote-wrap .pick-wrap .pick-box li .pic-cont .balloon {float:unset;width:100%;height:35.625vw;padding:30px 20px 15px;background:url('../images/sub/bg_balloon_s.png');background-size:100% 35.625vw}
  .vote-wrap .pick-wrap .pick-box li .pic-cont .balloon .txt {font-size:1.3rem;}
  .vote-wrap .pick-list {display:block;margin-bottom:3.90625vw;text-align:center}
  .vote-wrap .pick-list li {display:inline-block;width:11.875vw;height:11.875vw;margin:0 0.8vw;border-radius:50%;border:2px solid #cad2e3;}
  .vote-wrap .pick-list li img {width:100%;border-radius:50%;}

  .vote-wrap .pick-wrap.my {width:100%;padding:5px 0}
  .vote-wrap .pick-wrap.my ul li {height:9.16666vw;padding:3px 0 0 25vw;border-bottom:2px solid #fa5508}
  .vote-wrap .pick-wrap.my ul li:last-child {border-bottom:0}
  .vote-wrap .pick-wrap.my ul li .date {position:relative;float:left;width:22.2222vw;padding-top:1.66666vw;margin-right:15px;}
  .vote-wrap .pick-wrap.my ul li .date::after {content:'';position:absolute;top:1.94444vw;right:0;width:2px;height:10px;background-color:#fff;}
  .vote-wrap .pick-wrap.my ul li .date img {width:12px;}
  .vote-wrap .pick-wrap.my ul li .date span {margin:0 10px 0 8px;font-size:1.1rem;}
  .vote-wrap .pick-wrap.my ul li .profile {float:left;width:6.875vw;height:6.875vw;margin-right:10px;border-width:1px}
  .vote-wrap .pick-wrap.my ul li .profile:last-child {margin-right:0}
  .vote-wrap .pick-wrap.my ul li .profile img {width:100%;border-radius:50%;}
  .vote-wrap .pick-wrap.my ul li .txt {padding-top:7px;font-size:1.1rem;}

  /* mascot */
  .profile-wrap {width:100%;padding:30px 0 0;margin:0 auto;}
  .profile-wrap .profile-box {width:100%;padding-top:12px;margin-bottom:40px;}
  .profile-wrap .profile-box .tbl tr td div {min-height:24px;padding:5px 10px 3px;font-size:1.3rem;border-radius:10px;}
  .profile-wrap .profile-box .tbl tr.big td div {width:80.15625vw;min-height:25.625vw;margin-left:8.75vw;word-break:break-all;}
  .profile-wrap .info-box {padding:0 15px;}
  .profile-wrap .info-box a {position:absolute;top:2px;right:15px;}
  .profile-wrap .info-box a .insta {display:inline-block;width:7vw;height:7vw;background:url('../images/sub/icon_insta.png');background-size:7vw 7vw;}
  .profile-wrap .info-box a .twitter {display:inline-block;width:7vw;height:5.5vw;background:url('../images/sub/icon_twitter.png');background-size:7vw 5.5vw;}
  .profile-wrap .porfile-pic {width:100%;height:64vw;}
  .profile-wrap .porfile-pic li {float:left;width:100%;height:64vw;}
  .profile-wrap .porfile-pic li img {max-width:100%;max-height:100%;}
  .profile-wrap .color-tit {padding:0 10px;margin:20px 0 15px;font-size:1.5rem;}
  .profile-wrap .color-tit.red {padding:0 23px;}
  .profile-wrap .color-tit span {margin:0 20px;font-size:inherit;color:#000}
  .profile-wrap .tbl {display:none}
  .profile-wrap .tbl.mb {display:block;width:100%;margin-bottom:20px;}
  .profile-wrap .tbl.mb tr th {padding:0.9375vw 0 0.9375vw 8.75vw;font-size:1.3rem;text-align:left;vertical-align:middle}
  .profile-wrap .tbl.mb tr td {padding:0.9375vw 0;font-size:1.3rem;color:#0f0505;text-align:left;}
  .profile-wrap .video {margin:0 23px 40px;height:50vw;} 
  .profile-wrap .chat-wrap {padding:0 23px;margin-bottom:20px;border-bottom:0;}
  .profile-wrap .chat-wrap .chat-box {min-height:56.25vw;padding:10px;}
  .profile-wrap .chat-wrap .chat-box li {margin-bottom:10px;}
  .profile-wrap .chat-wrap .chat-box li:last-child {margin-bottom:0;}
  .profile-wrap .chat-wrap .chat-box li span {display:inline-block;font-size:1.2rem;vertical-align:top;}
  .profile-wrap .chat-wrap .chat-box li span.name {width:50px;}
  .profile-wrap .chat-wrap .chat-box li span.text {width:calc(100% - 138px);}
  .profile-wrap .chat-wrap .chat-box li span.time {width:60px;}
  .profile-wrap .chat-wrap .chat-box li .admin-btn {position:absolute;top:1px;right:0;width:3.125vw;height:3.125vw;background:url('../images/sub/icon_remove.png');background-size:3.125vw 3.125vw;}
  .profile-wrap .chat-wrap .input-box {position:relative;height:40px;padding:5px;}
  .profile-wrap .chat-wrap .input-box input {width:calc(100% - 55px);height:30px;padding:5px 40px 5px 5px;font-size:1.3rem;}
  .profile-wrap .chat-wrap .input-box .remove-btn {position:absolute;top:7px;right:62px;width:26px;height:26px;background:url('../images/sub/icon_remove2.png');background-size:28px 28px;cursor:pointer;}
  .profile-wrap .chat-wrap .input-box .input-btn {float:right;width:50px;height:30px;border-radius:5px;font-size:1.3rem;color:#5a5a5a;background:#fff;}
  .profile-wrap .bx-wrapper .bx-controls-direction a {top:15vw;width:12.1875vw;height:28.125vw;}
  .profile-wrap .bx-wrapper .bx-prev,
  .profile-wrap .bx-wrapper .bx-prev:hover {left:5px;background-size:12.1875vw 28.125vw;}
  .profile-wrap .bx-wrapper .bx-next,
  .profile-wrap .bx-wrapper .bx-next:hover {right:5px;background-size:12.1875vw 28.125vw;}
  .pagenation {margin-bottom:30px;}
  .pagenation .prev {margin-right:8px;}
  .pagenation .prev span {width:10px;height:10px;background-size:10px 10px;vertical-align:text-bottom;}
  .pagenation .num a {margin:0 5px;font-size:1.2rem;}
  .pagenation .next {margin-left:8px;}
  .pagenation .next span {width:10px;height:10px;background-size:10px 10px;vertical-align:text-bottom;}
  
  /* login */
  .mem-wrap {width:100%;padding:30px 15px 0;margin-bottom:50px;}
  .mem-wrap .mem-tit {margin-bottom:20px;font-size:1.6rem;}
  .mem-wrap .mem-txt {line-height:1.4;margin-bottom:10px;font-size:1.3rem;color:#5c5d60;font-weight:400;text-align:left;}
  .mem-wrap .mem-txt span {font-size:inherit;color:inherit;font-weight:700}
  .mem-wrap .login-wrap {display:unset;width:100%;height:377px;}
  .mem-wrap .login-wrap .right {width:100%;height:100%;padding-left:0;margin-top:20px}
  .mem-wrap .login-wrap .right img {width:50%;margin-bottom:14px;}
  .mem-wrap .login-wrap .right .join-btn {display:inline-block;width:100%;height:35px;padding-top:10px;font-size:1.4rem;color:#6a6a6a;text-align:center;}
  .mem-wrap .login-wrap .left {width:100%;height:100%;padding-right:0;}
  .mem-wrap .login-wrap .left .login-box {position:relative;width:100%;height:35px;padding:0 15px;margin-bottom:10px;border:1px solid #cad2e3;}
  .mem-wrap .login-wrap .left .login-box input {width:100%;height:100%;font-size:1.3rem;color:#4f4f4f;outline:none;}
  .mem-wrap .login-wrap .left .save-box {margin:14px 0;font-size:1.3rem}
  .mem-wrap .login-wrap .left .save-box input {width:15px;height:15px;margin-right:5px;}
  .mem-wrap .login-wrap .left .save-box label {font-size:1.3rem;vertical-align:top;}
  .mem-wrap .login-wrap .left .login-btn {width:100%;height:35px;margin-bottom:10px;font-size:1.4rem;}

   /* join */
  .join-wrap {width:100%;padding-top:30px;}
  .join-wrap .join-tit {padding:0 15px 10px;font-size:1.6rem;}
  .join-wrap .join-txt {padding:0 15px;margin:10px 0;font-size:1.3rem;color:#5c5d60;font-weight:700;}
  .join-wrap .join-sub-tit {padding:10px 10px 9px;font-size:1.3rem;}
  .join-wrap .agree-wrap {width:100%;padding:0 15px;margin:0 0 30px;}
  .join-wrap .agree-wrap .title {width:100%;height:auto;padding:12px 10px 9px;border:1px solid #cad2e3;font-size:1.3rem;color:#3b3b3b;font-weight:700}
  .join-wrap .agree-wrap .agree-box {height:269px;line-height:1.5;padding:10px;border:1px solid #cad2e3;border-top:0;font-size:1.2rem;overflow-y:scroll;}
  .join-wrap .agree-wrap .agree-box p {line-height:1.5;font-size:1.2rem;font-weight:700;}
  .join-wrap .choice-box {line-height:1.3;padding:12px 0 0;font-size:1.3rem;color:#3b3b3b}
  .join-wrap .choice-box span {vertical-align:bottom;}
  .join-wrap .choice-box span input {width:12px;height:12px;margin:0 3px 0 8px;vertical-align:middle;}
  .join-wrap .choice-box span label {font-size:1.3rem;color:#ef5464;vertical-align:middle;}
  .join-wrap .event-wrap {margin-bottom:30px;border-top:1px solid #c9d1e3;border-bottom:1px solid #c9d1e3;}
  .join-wrap .event-wrap .title {height:auto;padding:10px 15px;border-bottom:1px solid #c9d1e3;font-size:1.3rem;}
  .join-wrap .event-wrap .event {padding:10px 15px;border-bottom:1px solid #c9d1e3;font-size:1.2rem;color:#3b3b3b}
  .join-wrap .event-wrap .choice-box {height:auto;padding:12px 15px;}
  .join-wrap .event-wrap .choice-box span {display:block;margin-top:5px;text-align:right;}
  .join-wrap .total-agree {padding:0 15px;margin-bottom:25px;}
  .join-wrap .total-agree input {width:auto;height:auto;margin-right:5px;}
  .join-wrap .total-agree label {line-height:1.4;font-size:1.3rem;color:#2f2f30;vertical-align:top;word-break:keep-all;}
  .join-wrap .privacy-wrap {line-height:1.4;padding:0 15px;font-size:1.3rem;color:#2f2f30;word-break:keep-all;}
  .join-wrap .privacy-wrap p {margin-bottom:10px;}
  .join-wrap .privacy-wrap .final-box {margin-top:20px;}

  /* join2 */
  .join-wrap.step2 {width:100%;margin-bottom:0}
  .join-wrap.step2 .alert-txt.tip {padding:10px 15px;font-size:1.3rem;}
  .join-wrap.step2 .member-box {padding:10px;margin:0 0 20px;}
  .join-wrap.step2 .member-box dl {overflow:hidden;margin-bottom:11px;}
  .join-wrap.step2 .member-box dl:nth-child(2) {margin:12px 0;}
  .join-wrap.step2 .member-box dl dt {width:30%;padding-top:7px;font-size:1.3rem;color:#3b3b3b;letter-spacing:-1.0px;}
  .join-wrap.step2 .member-box dl dt.txt {padding-top:7px;}
  .join-wrap.step2 .member-box dl dt span {display:inline-block;margin-left:7px;padding-top:2px;color:#f75151;vertical-align:top;}
  .join-wrap.step2 .member-box dl dd {width:70%;font-size:1.3rem;}
  .join-wrap.step2 .member-box dl dd input,
  .join-wrap.step2 .member-box dl dd select {width:100%;height:30px;padding-left:10px;border:1px solid #cad2e3;color:#3b3b3b;font-size:1.3rem;}
  .join-wrap.step2 .member-box dl dd select option {font-size:1.3rem}
  .join-wrap.step2 .member-box dl dd .member-btn {height:30px;padding:6px 10px 0;margin-right:0;border:1px solid #86888a;color:#4b4b4b;font-size:1.3rem;}
  .join-wrap.step2 .member-box dl dd .alert-txt {margin-top:11px;font-size:1.3rem;}
  .join-wrap.step2 .member-box dl dd .alert-txt.gray {display:block;margin:5px 0;font-size:12px;}
  .join-wrap.step2 .member-box dl dd .ipt.id {width:calc(100% - 77px)}
  .join-wrap.step2 .member-box dl dd .ipt.addr {width:calc(100% - 106px)}
  .join-wrap.step2 .member-box dl dd .ipt.addr.long {width:100%;margin-top:5px;}
  .join-wrap.step2 .member-box dl dd .ipt.email {width:50%;margin-bottom:5px;}
  .join-wrap.step2 .member-box dl dd .sel.email {width:48%;vertical-align:top;}
  .join-wrap.step2 .member-box dl.data dt {padding:7px 0;}
  .join-wrap.step2 .member-box dl.data dd {padding:7px 0;}
  .join-wrap.step2 .member-box dl.data dd span {font-size:1.3rem}
  .join-wrap.step2 .member-box.edit {padding:15px 10px 0;margin:0;}
  .join-wrap.step2 .member-box.edit dl dt {width:30%;}
  .join-wrap.step2 .member-box.edit dl dd {width:70%}
  .join-wrap.step2 .join-noti {padding:20px 10px;font-size:1.3rem;color:#3b3b3b}
  .join-wrap.step2 .join-noti p {margin-bottom:5px;font-size:inherit;color:#3b3b3b}
  .join-wrap.step2 .join-noti p:last-child {margin-bottom:0;}
  .join-wrap.step2 .join-noti p.important {font-weight:700}
  .join-wrap.step2 .join-noti p.important span {font-size:inherit;color:#ef5464;}
}
