@charset "utf-8";

.main {position:relative;width:1000px;margin:0 auto;padding-bottom:100px;}
.date {padding:55px 0 20px;font-size:23px;font-weight:bold;color:#222;text-align:center;}
.search-area {position:absolute;top:52px;right:0;}
.search-area input {position:relative;width:282px;padding:9px 30px 6px 10px;color:#95979c;border:1px solid #104aad;box-sizing:border-box;border-radius:3px;z-index:10;}
.search-area > .btn {position:absolute;top:8px;right:9px;z-index:10;}
.search-area .search-detail {position:absolute;top:29px;left:0;width:274px;padding:3px;;background:#fff;border:1px solid #bec8d8;z-index:5;}
.search-area .search-detail li {position:relative;padding:10px 5px;}
.search-area .search-detail li:hover {background:#f9fafc;}
.search-area .search-detail li:hover span {font-weight:bold;}
.search-area .search-detail li span {display:inline-block;min-width:40px;font-size:13px;}
.search-area .search-detail li > .btn {position:absolute;top:5px;right:5px;background:#fff;color:#bec8d8;border:1px solid #bec8d8;width:41px;height:24px;line-height:24px;text-align:center;border-radius:2px;box-sizing:border-box;}
.search-area .search-detail li > .btn:hover {background:#0089ff;color:#fff;border:none;}
.search-area .search-detail li .name {width:63px;}
.search-area .search-detail li .birth {letter-spacing:-1px;}
.summary-box {overflow:hidden;margin-bottom:30px;padding:20px 35px 45px 60px;background:#fff;border:1px solid #e0dfdf;-webkit-box-shadow:3px 5px 20px 0px rgba(0,0,0,0.10);-moz-box-shadow:3px 5px 20px 0px rgba(0,0,0,0.10);box-shadow:3px 5px 20px 0px rgba(0,0,0,0.10);}
.summary-box .tit-area {position:relative;float:left;width:310px;}
.summary-box .tit-area .tit {overflow:hidden;padding-top:70px;line-height:1.5;font-size:18px;font-weight:bold;color:#242424;}
.summary-box .tit-area .tit .emb {float:left;width:90px;margin-right:10px;}
.summary-box .tit-area .tit .emb img {width:100%;}
.summary-box .tit-area .tit .txt {float:left;}
.summary-box .tit-area .deadline {position:absolute;top:130px;left:100px;font-size:18px;color:#145cd6;}
.summary-box .tbl-area {float:right;width:590px;text-align:right;}
.summary-box .tbl-area .btn-more {display:inline-block;position:relative;width:2px;height:10px;margin-right:5px;font-weight:bold;background:#323232;}
.summary-box .tbl-area .btn-more:after {content: "";position: absolute;top:4px;left:-4px;background:#323232;height:2px;width:10px;}
.summary-box .tbl-area .btn-more .txt {position:absolute;top:-1px;left:-40px;}
.summary-box .tbl-area .tbl {width:100%;margin-top:10px;border-top:2px solid #242424;text-align:left;}
.summary-box .tbl-area .tbl th, .summary-box .tbl-area .tbl td {padding:19px 20px 15px;font-size:14px;}
.summary-box .tbl-area .tbl td .txt {overflow:hidden;display:inline-block;width:400px;text-overflow:ellipsis;white-space:nowrap;}
.summary-box .tbl-area .tbl .txt-time {padding:19px 10px;color:#95979c;}
.summary-box .tbl-area .tbl td .val {color:#104aad;}
.summary-notice {margin:0;}
.summary-notice .tit-area .tit {padding-top:17px;}
.summary-notice .tit-area .tit .txt {padding-top:20px;}
.summary-notice .tbl-area .tbl td .val {color:#eb0123;}