@charset "utf-8";

html, body {position:relative;}
body {width:100%;}
#container {overflow:hidden;min-width:1340px;background:#fff;}

/* header */
header {min-width:1340px;background:#206cbb;}
header .header-wrap {position:relative;width:1340px;margin:0 auto;}
header .header-wrap h1 {width:207px;margin:0 auto;padding:31px 0;}
header .header-wrap .search-area {position:absolute;top:26px;right:0;z-index:20;font-size:13px;}
header .header-wrap .search-area .btn-search {position:absolute;top:10px;right:9px;width:18px;height:18px;}
header nav {background:#2a2a2a;}
header nav .menu-list {text-align:center;}
header nav .menu-list > li {position:relative;display:inline-block;margin:0 35px;text-align:center;}
header nav .menu-list > li a {display:block;width:140px;padding:31px 0;font-size:16px;color:#fff;}
header nav .menu-list > li.on a {color:#91c7ff;}
header nav .menu-list > li a:hover + .sub-menu {display:block;}

header nav .menu-list > li .sub-menu {display:none;position:absolute;top:80px;left:0;padding-bottom:5px;background-color:#2a2a2a;z-index:1;}
header nav .menu-list > li .sub-menu a {padding:8px 0;font-size:16px;color:#eee}
header nav .menu-list > li .sub-menu a:hover {color:#91c7ff;text-decoration:underline;}
/* section */
section {max-width:1340px;margin:0 auto;}

/* footer */
footer {min-width:1340px;padding:61px 0 89px;background:#2a2a2a;color:#fff;font-size:14px;letter-spacing:-0.5px;}
footer .footer-box {width:1340px;margin:0 auto;}
footer .footer-box .company {float:left;padding-left:176px;}
footer .footer-box .company h1 {width:123px;}
footer .footer-box .company p {padding-top:20px;}
footer .footer-box .txt-company {float:right;padding-right:176px;}
footer .footer-box .txt-company p span {display:block;padding-top:8px;}
footer .footer-box .txt-company address {padding:40px 0 5px;font-style:normal;}
