@charset "utf-8";

input[type="text"], input[type="password"] {-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0px;-webkit-border-radius:0;}
input[type="password"] {font-family:'malgun gothic';} 
/* clearfix */
.clear::after {content:"";display:block;clear:both;}

/* hidden */
.hidden-obj {overflow:hidden;visibility:hidden;text-indent:-9999px;width:0;height:0;line-height:0;font-size:0;}

/* layout */
.dp-none {display:none;}
.dp-i {display:inline !important;}
.dp-b {display:block !important;}
.dp-ib {display:inline-block !important;}

/* align */
.txt-c {text-align:center !important;}
.txt-l {text-align:left !important;}
.txt-r {text-align:right !important;}

/* datepicker */
.ui-datepicker {width:80vw;padding:0;border:none !important;border-radius:10px !important;box-shadow:5px 2px 10px 0px #ccc;z-index:25 !important;}
.ui-datepicker .ui-datepicker-header {width:100%;padding:10px;border-radius:10px 10px 0 0;background:#397ae4;border:none;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {top:17px;left:12px;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {top:17px;right:1px;}
.ui-datepicker .ui-datepicker-header .ui-corner-all .ui-icon {width:8px;height:14px;background-image:url("../images/common/sprite2.png") !important;background-size:500px 500px !important;}
.ui-datepicker .ui-datepicker-header .ui-corner-all.ui-datepicker-prev .ui-icon {background-position:-225px -75px  !important;}
.ui-datepicker .ui-datepicker-header .ui-corner-all.ui-datepicker-next .ui-icon {background-position:-250px -75px  !important;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {line-height:28px;margin:0 auto;font-size:1.4rem;color:#fff;font-weight:400;vertical-align:top;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title select {width:70px !important;margin-right:5px !important;border:0;font-size:1.4rem;vertical-align:top}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title select.ui-datepicker-month {margin-left:15px !important;}
.ui-datepicker .ui-datepicker-calendar {width:calc(100% - 30px);margin:15px;font-size:1.2rem;}
.ui-datepicker .ui-datepicker-calendar tr th {border-bottom:0;}
.ui-datepicker .ui-datepicker-calendar tr th span {font-size:1.4rem;font-weight:400;}
.ui-datepicker .ui-datepicker-calendar tr td a {font-size:1.4rem}
.ui-datepicker .ui-datepicker-calendar tr td.satday a, .ui-datepicker table th.satday span {color:#4b6a91;}
.ui-datepicker .ui-datepicker-calendar tr td.sunday a, .ui-datepicker table th.sunday span {color:#ec1735;}
.ui-datepicker .ui-datepicker-calendar tr td a.ui-state-default {width:6.94444vw;height:6.94444vw;line-height:6.94444vw;padding:0;margin:0 auto;border:none;background:none;color:#444;text-align:center;}
.ui-datepicker .ui-datepicker-calendar tr td a.ui-state-highlight {background:#fff;color:#397ae4;border-radius:50%;}
.ui-datepicker .ui-datepicker-calendar tr td a.ui-state-active {background:#397ae4;color:#fff;border-radius:50%;}
.ui-datepicker .ui-datepicker-calendar tr td.ui-state-disabled span.ui-state-default{width:26px;height:26px;line-height:26px;padding:0;margin:0 auto;border:none;background:none;color:#444;text-align:center;}
.ui-datepicker .ui-datepicker-buttonpane {display:none;}

/* 내부스크롤 */
.scroll-wrap {
	overflow:hidden;
	position:relative;
	width:100%;
	/* Prevent native touch events on Windows */
	-ms-touch-action: none;
	/* Prevent the callout on tap-hold and text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* Prevent text resize on orientation change, useful for web-apps */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.scroll-wrap .scroller {
	display:inline-block;
	/* Prevent elements to be highlighted on tap */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/* Put the scroller into the HW Compositing layer right from the start */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}
/* 
.LG {background-color:#c10a3a;}
.HH {background-color:#da5a17;}
.HT {background-color:#ac1020;}
.LT {background-color:#c30025;}
.SS {background-color:#0063ab;}
.KT {background-color:#000000;}
.NC {background-color:#1f477b;}
.WO {background-color:#5b0016;}
.OB {background-color:#131230;}
.SSG {background-color:#c8132f;}
 */