@charset "utf-8";

html, body {position:relative;min-width:1200px;min-height:100%;}
header {background-color:#001947}
header .top {position:relative;width:1200px;height:120px;margin:0 auto;}
header .top h1 {float:left;padding-top:32px;}
header .top h1 a .logo {display:inline-block;width:185px;height:50px;background:url(../images/common/logo.png);}
header .top .link-k {float:right;padding-top:28px;font-size:25px;font-family:'kopub';color:#fff;font-weight:700;}
header .top .my-box {position:absolute;bottom:18px;right:0;color:#fff;}
header .top .my-box .evnet-wrap {position:relative;float:left;margin:0 115px 0 0;}
header .top .my-box .evnet-wrap .event-link {font-size:20px;color:#fff;font-family:'kopub';font-weight:700;outline:none;cursor:pointer}
header .top .my-box .evnet-wrap .event-link img {margin-left:12px;vertical-align:middle}
header .top .my-box .evnet-wrap .event-list {display:none;position:absolute;top:26px;width:170px;padding:5px 0;border:1px solid #9e9e9e;background:#fff;z-index:10;}
header .top .my-box .evnet-wrap .event-list li {padding:5px 10px;}
header .top .my-box .evnet-wrap .event-list li a {font-size:20px;}
header .top .my-box .profile {float:left;width:34px;height:34px;margin-top:-5px;margin-right:15px;border-radius:50%;border:1px solid #d0d7e6;background-color:#f5f5f5;}
header .top .my-box .profile img {width:100%;border-radius:50%;}
header .top .my-box .name {font-size:20px;color:#fff;font-family:'kopub';font-weight:700;}
header .top .my-box .link.bar {position:relative;}
header .top .my-box .link.bar span {margin-left:30px;color:#fff;font-family:'kopub';font-weight:700;}
header .top .my-box .link.bar::before {content:'';position:absolute;top:2px;left:14px;width:2px;height:20px;background-color:#fff;vertical-align:sub;}
header .top .my-box .link {display:inline-block;}
header .top .my-box .link span {font-size:20px;font-weight:700;}
footer {position:absolute;bottom:0;width:100%;height:140px;text-align:center;}
footer address {padding-top:32px;font-size:17px;color:#080808;font-family:'gmarket';font-style:normal;}


/* 팝업 */
.pop-on {overflow:hidden;}
.modal {position:fixed;top:0;left:0;bottom:0;right:0;background:#000;opacity:0.3;z-index:15;}
/* #popup {position:fixed;top:280px;left:50%;background:#fff;z-index:20;} */

@media (max-width:640px) {
  html {font-size:10px;}
  html, body {min-width:100%}
  header .top {width:100%;height:12.5vw;padding:0 15px;}
  header .top h1 {padding-top:3vw;}
  header .top h1 a .logo {width:6.25vw;height:6.875vw;background:url(../images/common/logo_s.png);background-size:6.25vw 6.875vw;}
  header .top .link-k {display:block;padding-top:7px;font-size:1.1rem;}
  header .top .my-box {bottom:3px;right:15px;}
  header .top .my-box .evnet-wrap {position:relative;float:left;margin:0 10px 0 0;}
  header .top .my-box .evnet-wrap .event-link {font-size:1.1rem;outline:none;cursor:pointer}
  header .top .my-box .evnet-wrap .event-link img {margin-left:3px;width:5px;vertical-align:middle;}
  header .top .my-box .evnet-wrap .event-list {display:none;position:absolute;top:15px;width:112px;padding:1px 0;background:#fff;}
  header .top .my-box .evnet-wrap .event-list li {padding:5px 6px;}
  header .top .my-box .evnet-wrap .event-list li a {font-size:1.1rem;}
  header .top .my-box .profile {float:left;width:4vw;height:4vw;margin-top:-1px;margin-right:7px;}
  header .top .my-box .name {font-size:1.1rem;}
  header .top .my-box .link.bar {position:relative;}
  header .top .my-box .link.bar span {margin-left:16px;}
  header .top .my-box .link.bar::before {content:'';position:absolute;top:1px;left:6px;width:1px;height:10px;}
  header .top .my-box .link {display:inline-block;}
  header .top .my-box .link span {font-size:1.1rem;}
  footer {height:33px;}
  footer address {padding-top:12px;font-size:0.9rem;}
}
@media screen and (min-width:365px) and (max-width:375px) {
  html {font-size:11px;}
}
@media screen and (min-width:376px) and (max-width:620px) {
  html {font-size:12px;}
}