@charset "utf-8";

.visual-wrap {position:relative;height:885px;background-image:url(../images/main/bg_main.png);background-size:cover;background-repeat:no-repeat;text-align:center;}
.visual-wrap img {margin-top:238px;}

.media-wrap .inner {width:1200px;margin:0 auto;padding:132px 0 124px;text-align:center;}
.media-wrap .inner .txt {margin-bottom:70px;}
.media-wrap .inner .video {width:100%;height:315px;margin:0 auto;}
.media-wrap .inner .video div {float:left;width:560px;height:315px;border:2px solid #272f58}
.media-wrap .inner .video div:last-child {float:right;}

.main-wrap {margin-bottom:60px;text-align:center;}
.main-wrap .inner .noti-box .pc {display:block;margin:0 auto;}
.main-wrap .inner .noti-box .mobile {display:none}

.schedule {position:relative;text-align:center;}
.schedule::before {content:'';position:absolute;bottom:0;left:0;width:232px;height:521px;background:url('../images/main/bg_left.png') no-repeat;z-index:-1;}
.schedule::after {content:'';position:absolute;bottom:0;right:0;width:199px;height:255px;background:url('../images/main/bg_right.png') no-repeat;z-index:-1;}
.schedule .list-schedule {width:1100px;height:824px;margin:0 auto;background:url('../images/main/img_schedule.png')}
.schedule .txt.pc {margin-bottom:55px;}
.schedule .txt.mobile {display:none}

.vote {margin:0 auto 200px;text-align:center;}
.vote .txt {margin-bottom:40px;}
.vote .time {width:1110px;margin:0 auto 10px;font-size:18px;color:#171717;font-weight:700;text-align:right;}
.vote .mascot-bg {height:383px;background-image:url(../images/main/bg_main3.png);background-size:cover;background-repeat:no-repeat;overflow:hidden;}
.vote .mascot-bg .mascot-wrap {width:1110px;height:383px;margin:0 auto;}
.vote .mascot-bg .mascot-box {overflow:hidden;width:100%;}
.vote .mascot-bg .mascot-box li {float:left;}
.vote .mascot-bg .mascot-box li > div {float:left;padding-top:40px;margin:88px 3px 0;cursor:pointer}
.vote .mascot-bg .mascot-box li div .pic {position:relative;width:132px;height:132px;margin:0 auto 30px;border-radius:50%;background-color:#fff;}
.vote .mascot-bg .mascot-box li div .pic .emb {position:absolute;bottom:-3px;right:11px;width:49px;height:49px;border:1px solid #cad2e3;border-radius:50%;background-color:#fff;}
.vote .mascot-bg .mascot-box li div .pic img {width:100%;border-radius:50%;}
.vote .mascot-bg .mascot-box li div .pic .grade {position:absolute;top:-20px;left:calc(50% - 27px);width:54px;height:28px;line-height:28px;border-radius:14px;font-size:21px;color:#fff;font-weight:700;background-color:#828282;text-align:center;}
.vote .mascot-bg .mascot-box li div p {font-size:24px;font-weight:700;text-align:center;}
.vote .mascot-bg .mascot-box li div p.num {margin-top:6px;font-size:19px;color:#20274b;}
.vote .vote-box {margin-top:70px;}
.vote .vote-box .vote-before {margin:40px 0 15px;font-size:25px;color:#2f2f2f;font-weight:700;}
.vote .vote-box .vote-noti {display:inline-block;text-align:left;}
.vote .vote-box .vote-noti li {position:relative;padding-left:35px;margin-bottom:10px;font-size:21px;color:#2f2f2f;}
.vote .vote-box .vote-noti li::before {content:'';position:absolute;top:0;left:0;width:25px;height:23px;background:url('../images/main/icon_caution.png');}
.vote .vote-box .vote-noti li.no::before {background:none;}
.vote.live .mascot-bg .mascot-box li .first {margin:0 6px 0;}
.vote.live .mascot-bg .mascot-box li .second {margin:48px 6px 0;}
.vote.live .mascot-bg .mascot-box li .first .pic {width:220px;height:220px;margin-bottom:20px}
.vote.live .mascot-bg .mascot-box li .second .pic {width:173px;height:173px;margin-bottom:25px;}
.vote.live .mascot-bg .mascot-box li .first .pic .emb {position:absolute;bottom:-3px;right:11px;width:69px;height:69px;border:2px solid #cad2e3;border-radius:50%;background-color:#fff;}
.vote.live .mascot-bg .mascot-box li .second .pic .emb {position:absolute;bottom:-3px;right:11px;width:59px;height:59px;border:2px solid #cad2e3;border-radius:50%;background-color:#fff;}
.vote.live .mascot-bg .mascot-box li .first .pic .grade {top:-25px;left:calc(50% - 39px);width:78px;height:40px;line-height:40px;border-radius:20px;font-size:30px;background-color:#eb6762;}
.vote.live .mascot-bg .mascot-box li .second .pic .grade {top:-25px;left:calc(50% - 33px);width:66px;height:34px;line-height:34px;border-radius:17px;font-size:27px;background-color:#5368b6;}
.vote.live .mascot-bg .mascot-box li .first p {font-size:32px;}
.vote.live .mascot-bg .mascot-box li .first p.num {margin-top:0;font-size:25px;}
.vote.live .mascot-bg .mascot-box li .second p {font-size:27px;}
.vote.live .mascot-bg .mascot-box li .second p.num {margin-top:3px;font-size:22px;}
.vote.mb {display:none}

.social {margin:100px auto;text-align:center;}
.social::after {content:"";display:block;clear:both;}
.social p.pc {display:block;margin-bottom:65px;font-size:22px;font-weight:700}
.social p.mobile {display:none;}
.social ul li {display:inline-block;margin:0 33px;}
.social ul li i {display:block;width:65px;height:65px;}
.social ul li .icon-fb {background-image:url('../images/common/icon_fb.png');}
.social ul li .icon-insta {background-image:url('../images/common/icon_insta.png');}
.social ul li .icon-youtube {background-image:url('../images/common/icon_youtube.png');}
.social ul li .icon-twitter {background-image:url('../images/common/icon_twitter.png');}

.bx-wrapper .bx-loading {background:none;}
.bx-wrapper .bx-controls-direction a {top:100px;width:78px;height:181px;margin-top:0;}
.bx-wrapper .bx-prev,
.bx-wrapper .bx-prev:hover {left:-95px;background:url('../images/sub/icon_left2.png');}
.bx-wrapper .bx-next,
.bx-wrapper .bx-next:hover {right:-95px;background:url('../images/sub/icon_right2.png');}

/* 내부스크롤 */
.scroll-wrap {
	overflow:hidden;
	position:relative;
	width:100%;
	/* Prevent native touch events on Windows */
	-ms-touch-action: none;
	/* Prevent the callout on tap-hold and text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* Prevent text resize on orientation change, useful for web-apps */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.scroll-wrap .scroller {
	display:inline-block;
	/* Prevent elements to be highlighted on tap */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/* Put the scroller into the HW Compositing layer right from the start */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

@media (max-width:640px) {
  .visual-wrap {width:100%;height:83.90625vw;background-image:url(../images/main/bg_main_s.png);background-size:cover}
  .visual-wrap img {display:none}

  .media-wrap .inner {width:100%;padding:30px 15px 10px;}
  .media-wrap .inner .txt {width:100%;margin-bottom:35px;}
  .media-wrap .inner .video {width:100%;height:auto;margin:0 auto;}
  .media-wrap .inner .video div {float:none;width:100%;height:46.25vw;margin-bottom:20px;}
  .media-wrap .inner .video div:last-child {float:none;}

  .main-wrap {margin-bottom:30px}
  .main-wrap .inner .noti-box .pc {display:none}
  .main-wrap .inner .noti-box .mobile {display:block}
  .main-wrap .inner .noti-box img {width:100%;}

  .schedule::before, .schedule::after {background:none;}
  .schedule .list-schedule {width:100%;height:233.12vw;margin:0 auto;background:url('../images/main/img_schedule_s.png');background-size:cover;}
  .schedule .txt.pc {display:none;}
  .schedule .txt.mobile {display:block;width:100%;margin-bottom:25px;}
  
  .vote {display:none;}
  .vote.mb {display:block;margin:0 auto 70px;text-align:center;}
  .vote.mb .txt {width:85%;margin-bottom:15px;}
  .vote.mb .time {width:100%;padding:0 10px;margin-bottom:5px;font-size:1.1rem;color:#636363;}
  .vote.mb .mascot-bg {height:55.3125vw;;background-image:url(../images/main/bg_main3_s.png);}
  .vote.mb .mascot-bg .mascot-box {width:100%;white-space:nowrap;}
  .vote.mb .mascot-bg .mascot-box li {display:inline-block;float:none;}
  .vote.mb .mascot-bg .mascot-box li > div {padding:0px 0 26px;margin:14.125vw 3px 0;}
  .vote.mb .mascot-bg .mascot-box li div .pic {width:18.75vw;height:18.75vw;margin-bottom:15px;border:1px solid #cad2e3;}
  .vote.mb .mascot-bg .mascot-box li div .pic .emb {position:absolute;bottom:-3px;right:0;width:8.4375vw;height:8.4375vw;border:1px solid #cad2e3;border-radius:50%;background-color:#fff;}
  .vote.mb .mascot-bg .mascot-box li div .pic img {width:100%;border-radius:50%;}
  .vote.mb .mascot-bg .mascot-box li div .pic .grade {position:absolute;top:-10px;left:calc(50% - 15px);width:30px;height:18px;line-height:18px;border-radius:9px;font-size:1.3rem;color:#fff;font-weight:700;background-color:#828282;text-align:center;}
  .vote.mb .mascot-bg .mascot-box li div p {font-size:1.3rem;}
  .vote.mb .vote-box {margin-top:27px;}
  .vote.mb .vote-box a img {width:70%}
  .vote.mb .vote-box .vote-before {margin:20px 0 7px;font-size:1.3rem;}
  .vote.mb .vote-box .vote-noti {display:inline-block;text-align:left;}
  .vote.mb .vote-box .vote-noti li {padding-left:20px;margin-bottom:5px;font-size:1.2rem;}
  .vote.mb .vote-box .vote-noti li::before {width:13px;height:12px;background-size:13px 12px;}
  .vote.mb.live .mascot-bg .mascot-box li > div {padding:20px 0 10px;}
  .vote.mb.live .mascot-bg .mascot-box li .first {margin:0 6px 0;}
  .vote.mb.live .mascot-bg .mascot-box li .second {margin:27px 6px 0;}
  .vote.mb.live .mascot-bg .mascot-box li .first .pic {width:31.25vw;height:31.25vw;margin-bottom:13px}
  .vote.mb.live .mascot-bg .mascot-box li .second .pic {width:24.68vw;height:24.68vw;margin-bottom:15px;}
  .vote.mb.live .mascot-bg .mascot-box li .first .pic .emb {position:absolute;bottom:-3px;right:11px;width:10vw;height:10vw;border:1px solid #cad2e3;border-radius:50%;background-color:#fff;}
  .vote.mb.live .mascot-bg .mascot-box li .second .pic .emb {position:absolute;bottom:-3px;right:11px;width:8.437vw;height:8.437vw;border:1px solid #cad2e3;border-radius:50%;background-color:#fff;}
  .vote.mb.live .mascot-bg .mascot-box li .first .pic .grade {top:-10px;left:calc(50% - 18px);width:36px;height:18px;line-height:18px;border-radius:9px;font-size:1.3rem;background-color:#f64e7e;}
  .vote.mb.live .mascot-bg .mascot-box li .second .pic .grade {top:-8px;left:calc(50% - 18px);width:36px;height:18px;line-height:18px;border-radius:9px;font-size:1.3rem;background-color:#8899f0;}
  .vote.mb.live .mascot-bg .mascot-box li .first p {font-size:1.5rem;}
  .vote.mb.live .mascot-bg .mascot-box li .first p.num {margin-top:0;font-size:1.1rem;}
  .vote.mb.live .mascot-bg .mascot-box li .second p {font-size:1.3rem;}
  .vote.mb.live .mascot-bg .mascot-box li .second p.num {margin-top:3px;font-size:1.1rem;}

  .social {width:100%;margin:30px auto;}
  .social p.pc {display:none;}
  .social p.mobile {display:block;line-height:1.4;padding:0 45px;margin-bottom:20px;font-size:1.3rem;font-weight:700;}
  .social ul li {margin:0 14px;}
  .social ul li i {width:33px;height:33px;background-size:33px 33px;}
}
