@charset "utf-8";
/* reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6,
p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em,
img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
embed, output, ruby, summary, time, mark, audio, video, input,button {margin:0;padding:0;border:0;vertical-align:baseline;-webkit-overflow-scrolling:touch;scrollbar-width:none;-ms-overflow-style: none;/*-webkit-user-select: none;*/}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, canvas {display: block;}
body {-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;-webkit-overflow-scrolling:touch;/*-webkit-user-select: none;*/}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar {display:none;}
ol, ul {list-style: none;}
span {color:inherit;font-weight:inherit;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;}
table {border-collapse: collapse;border-spacing:0;}
button {background:none;border:0 none;cursor:pointer;}
legend,caption{overflow:hidden;visibility:hidden;text-indent:-9999px;width:0;height:0;line-height:0;font-size:0;}
address {font-style:normal;}
input {outline:none;}
input:focus::-webkit-input-placeholder {color:transparent;}
input, textarea, button {-webkit-appearance:none; -moz-appearance:none; appearance:none;}
input, textarea, button, select {-webkit-border-radius:0; -moz-border-radius:0; -o-border-radius:0; border-radius:0;}

/* default style definition */
body {margin:0;padding:0;color:#323232;font-size:1.2rem;font-weight:100;font-family:"noto",sans-serif;line-height:1.2;}
form {margin:0;padding:0;}
hr {display:none;}
a {color:#1a1a1a;-webkit-tap-highlight-color:transparent;}
a:link, a:visited, a:active, a:hover {text-decoration:none;}
a img, input.type-image {border:0 none;}
input.type-text, textarea {border:1px solid #ddd;background:#fff;padding:1px;}
input, select, textarea {color:#333;font-size:1.2rem;vertical-align:middle;}
select {padding:0 5px;border:1px solid #7e7d7d;color:#666;font-family:"noto" !important;font-size:1.2rem;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select::-ms-expand {display:none;}
span.button, img.button, a.button {cursor: pointer;vertical-align: middle;}
form select, form input {vertical-align:middle;}
img {width:100%;border:0;vertical-align:top;}
strong {font-weight:bold;}

/* clearfix */
.clear::after {content:"";display:block;clear:both;}

/* hidden */
.hidden-obj {overflow:hidden;visibility:hidden;text-indent:-9999px;width:0;height:0;line-height:0;font-size:0;}

/* layout */
.row {overflow:hidden;position:relative;clear:both;width:100%;}

.dp-none {display:none !important;}
.dp-i {display:inline !important;}
.dp-b {display:block !important;}
.dp-ib {display:inline-block !important;}

.w30p {width:30%;}
.w35p {width:35%;}
.w45p {width:45%;}
.w48p {width:48%;}
.w50p {width:50%;}
.w60p {width:60%;}
.w65p {width:65%;}
.w70p {width:70%;}
.w100p {width:100%;}

/* font */
.oswald {font-family:'Oswald', sans-serif;}
.spoqa {font-family:'spoqa', sans-serif;}
.roboto {font-family:'Roboto', sans-serif;}
.oswald.win {color:#0060c9;}

/* margin, padding */
.mt0 {margin-top:0 !important;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt50 {margin-top:50px !important;}

.mtm20 {margin-top:-20px !important;}

.mb0 {margin-bottom:0px !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb35 {margin-bottom:35px !important;}
.mb40 {margin-bottom:40px !important;}
.mb50 {margin-bottom:50px !important;}

.ml0 {margin-left:0 !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !importan;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;}

.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mr15 {margin-right:15px !important;}
.mr30 {margin-right:30px !important;}
.mr35 {margin-right:35px !important;}

.pt0 {padding-top:0 !important;}
.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}
.pt35 {padding-top:35px !important;}
.pt40 {padding-top:40px !important;}
.pt45 {padding-top:45px !important;}
.pt50 {padding-top:50px !important;}

.pb0 {padding-bottom:0 !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px !important;}
.pb30 {padding-bottom:30px !important;}
.pb35 {padding-bottom:35px !important;}
.pb40 {padding-bottom:40px !important;}
.pb45 {padding-bottom:45px !important;}
.pb50 {padding-bottom:50px !important;}

.pl0 {padding-left:0 !important;}
.pl5 {padding-left:5px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl25 {padding-left:25px !important;}
.pl30 {padding-left:30px !important;}
.pl35 {padding-left:35px !important;}
.pl40 {padding-left:40px !important;}
.pl45 {padding-left:45px !important;}
.pl50 {padding-left:50px !important;}

.pr0 {padding-right:0 !important;}
.pr5 {padding-right:5px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.pr25 {padding-right:25px !important;}
.pr30 {padding-right:30px !important;}
.pr35 {padding-right:35px !important;}
.pr40 {padding-right:40px !important;}
.pr45 {padding-right:45px !important;}
.pr50 {padding-right:50px !important;}

/* 슬라이드 셋팅 */
.bx-wrapper {position:relative;padding:0;margin:0;border:none;box-shadow:none;background:transparent;}

/* 달력 */
.ui-datepicker {width:80vw;margin-left:-40vw;z-index:100 !important;}
.ui-datepicker .ui-datepicker-header {width:100%;padding:15px 10px;background:none;border:none;}
.ui-widget-header .ui-state-highlight {border:1px solid #00172d;background:#0054a6;color:#fff;text-align:right;}
.ui-icon-circle-triangle-w {background:url("../images/common/btn_date_prev.png") no-repeat left top !important;background-size:7px !important;}
.ui-icon-circle-triangle-e {background:url("../images/common/btn_date_next.png") no-repeat left top !important;background-size:7px !important;}
.ui-datepicker .ui-datepicker-prev {top:11px;left:12px;}
.ui-datepicker .ui-datepicker-next {top:11px;right:12px;}
.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span {margin-left:-4px;margin-top:-4px;}
.ui-datepicker table {font-size:1.2rem;}
.ui-datepicker table th {font-weight:400;font-size:1.1rem;border-bottom:1px solid #e5e7eb;}
.ui-datepicker table td.satday a, .ui-datepicker table th.satday {color:#4d91ff;}
.ui-datepicker table td.sunday a, .ui-datepicker table th.sunday {color:#b40d18;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {width:10vw;height:10vw;line-height:10vw;padding:0;border:none;background:none;color:#444;text-align: center;}
.ui-widget.ui-widget-content {z-index:110 !important;padding:0;border:none;font-family:"noto"}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-datepicker table td.satday .ui-state-highlight, .ui-datepicker table td.sunday .ui-state-highlight {background:#0767cd;color:#fff;border-radius:50%;}
.ui-datepicker .ui-datepicker-title {width:210px;margin:0 auto;font-size:1.4rem;font-weight:700;line-height:1.2;color:#1a1a1a;vertical-align:top;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {margin-top:1px;padding:0;border:none;font-family:"noto";font-size:1.4rem;font-weight:700;vertical-align:top;line-height:1.1;}
.ui-datepicker select.ui-datepicker-month {width:8%;margin-left:10px;}
.ui-datepicker select.ui-datepicker-year {width:18%;}
.ui-datepicker .ui-datepicker-buttonpane button,.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {margin:0;}
.ui-datepicker .tit-area {padding:13px 0;background:#062d6e;font-weight:700;color:#fff;text-align: center;border-radius:5px 5px 0 0;}
.ui-datepicker .ui-datepicker-buttonpane {display:none;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br, .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl, .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr, .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {border-radius:0;}
/* 버튼 */
a.btn {display:block;}
a.grey {color:#333;border:1px solid #dbdbdb;text-align:center;}
a.black {color:#2f2f2f;border:1px solid #000;text-align:center;}
a.red {color:#ff4b53;border:1px solid #ff4b53;text-align:center;}
a.arrow {position:relative;width:auto;padding:0 20px 0 8px;}
a.arrow:after {content:"";position:absolute;top:50%;right:8px;margin-top:-4px;padding:3px;border:solid black;border-width:0 1px 1px 0;border-color:#ff4b53;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
a.btn-next {width:100%;border-radius:3px;}
a.btn-next-os {width:65%;}
a.btn-due {display:inline-block;width:auto;height:auto;padding-right:10px;border:0;background:url('../images/common/bg_due.png') no-repeat 99% 50%/5px;color:#588cd7;line-height:inherit;}

.btn-close span {display:inline-block;position:relative;margin:0 10px;padding:0;width:1px;height:25px;border-radius:3px;background:#313131;transform:rotate(45deg);-webkit-transform:rotate(45deg);text-indent:-9999px;}
.btn-close span::before {content:"";display:block;position:absolute;top:50%;left:50%;width:25px;height:1px;margin:-1px 0 0 -12px;border-radius:3px;background:#313131;}

/* 테이블 */
.tbl {width:100%;text-align:center;}
.tbl thead th {padding:9px 5px 8px;background:#ececec;font-size:1.1rem;font-weight:400;color:#1a1a1a;}
.tbl tr td {height:39px;line-height:39px;padding:0 5px;font-size:1.1rem;border-bottom:1px solid #f2f2f2;}

/* 오름,내림차순 */
.roster h2 {float:left;margin:20px 0 14px;color:#333;font-size:1.6rem;}
.roster h2 span {margin-left:4px;color:#06c;font-weight:700;}
.roster .btn-pst {float:right;display:inline-block;margin-top:21px;padding-right:18px;background:url('../images/sub/bg_align.png') no-repeat 100% 50%/9px;color:#828282;}

/* 내부스크롤 */
.scroll-wrap {
	overflow:hidden;
	position:relative;
	width:100%;
	/* Prevent native touch events on Windows */
	-ms-touch-action: none;
	/* Prevent the callout on tap-hold and text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* Prevent text resize on orientation change, useful for web-apps */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.scroll-wrap .scroller {
	display:inline-block;
	/* Prevent elements to be highlighted on tap */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/* Put the scroller into the HW Compositing layer right from the start */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}
.scroll-wrap .scroller ul {width:100%;white-space:nowrap;}

/* 체크박스*/
input[type="checkbox"] {display:none;}
input[type="checkbox"] + label {position:relative;padding-left:39px;font-size:1.2rem;color:#323232;}
input[type="checkbox"] + label::after {content:"";position:absolute;top:1px;left:12px;width:19px;height:19px;background:url("../images/common/bg_checkbox.png") no-repeat  0 0/16px;}
input[type="checkbox"]:checked + label::after  {background-position:-19px 0;}

/* 모달레이어*/
#Modal {position:fixed;top:0;left:0;right:0;bottom:0;z-index:100;background:#000;opacity:0.5;}
body.modal-hidden {overflow:hidden;height:100%;touch-action:none;}

/* 팀 고유색상 */
.team.SK {border-bottom:2px solid #cb1733;}
.team.HT {border-bottom:2px solid #9c0925;}
.team.OB {border-bottom:2px solid #24233e;}
.team.LT {border-bottom:2px solid #002d62;}
.team.NC {border-bottom:2px solid #26589a;}
.team.SS {border-bottom:2px solid #0073bd;}
.team.LG {border-bottom:2px solid #b60059;}
.team.WO {border-bottom:2px solid #740720;}
.team.HH {border-bottom:2px solid #ec6016;}
.team.KT {border-bottom:2px solid #343435;}
.team.WE {border-bottom:2px solid #b90015;}
.team.EA {border-bottom:2px solid #001c64;}

/* 핫콜드존 */
.hotcoldzone {overflow:hidden;}
.hotcoldzone .zone {position:relative;float:left;width:41.6667vw;height:41.6667vw;}
.tbl-hotcold {width:100%;height:100%;color:#fff;text-align:center;}
.tbl-hotcold td {border:1px solid #f4f4f4;background:#ccc;font-size:1.0rem;}
.tbl-hotcold td.lev1 {background:#ff3d3d;}
.tbl-hotcold td.lev2 {background:#ff9ea2;}
.tbl-hotcold td.lev3 {background:#5599ff;}
.tbl-hotcold td.lev4 {background:#9fc4eb;}
.tbl-hotcold.back tr:first-child td {vertical-align:top;padding-top:8px;}
.tbl-hotcold.back tr td:first-child {padding-left:9px;text-align:left;}
.tbl-hotcold.back tr td:last-child {padding-right:9px;text-align:right;}
.tbl-hotcold.back tr:last-child td {vertical-align:bottom;;padding-bottom:8px;}
.tbl-hotcold.front {position:absolute;top:50%;left:50%;/*width:98px;height:98px;*/width:27.2222vw;height:27.2222vw;transform:translate(-50%, -50%);}
.tbl-hotcold.front td {vertical-align:middle;}

/* 아이콘형태 - 라이브, 더블헤더 */
.ico-live {display:inline-block;width:27px;margin:1px 8px 0 0;padding:3px 0;border-radius:2px;background:#ff1f5a;color:#fff;font-size:1.0rem;text-align:center;vertical-align:top;}
.ico-dh {display:inline-block;width:25px;margin:1px 8px 0 0;padding:3px 0;border-radius:2px;background:#32a1ff;color:#fff;font-size:1.0rem;text-align:center;vertical-align:top;}

/* 액션시트 */
.action-sheet {position:fixed;bottom:-100vw;left:0;z-index:110;width:100%;padding:0 16px;border-radius:25px 25px 0 0;background:#fff;transition:all 0.2s;}
.action-sheet.on {bottom:0;}
.action-sheet .action-list {overflow-y:scroll;padding-top:16px;max-height:113px;border-bottom:1px solid #f9f9f9;}
.action-sheet .action-list.view-definition {overflow:auto;max-height:inherit;}
.action-sheet .action-list li a {display:block;overflow:hidden;}
.action-sheet .action-list li span {float:left;display:block;padding:16px 0;color:#323232;font-size:1.4rem;}
.action-sheet .action-list.view-definition li span {float:none;text-align:center;}
.action-sheet .action-list li span.on {color:#ff0d57;}
.action-sheet .action-list li .list-selected {float:right;width:48px;padding-top:16px;text-align:center;}
.action-sheet .action-list li .list-selected.check i {display:block;width:100%;height:10px;background:url('../images/common/as_check.png') no-repeat 50% 50%/16px;}
.action-sheet .action-list li .setting {padding-left:11px;}
.action-sheet .action-list.screen li .set1 {padding-left:38px;background:url('../images/common/as_hd.png') no-repeat 3px 50%/21px;}
.action-sheet .action-list.screen li .set2 {padding-left:38px;background:url('../images/common/as_lock.png') no-repeat 3px 50%/21px;}
.action-sheet .btn-cancel {display:block;padding:4.7222vw 0 4.4444vw;border:0;border-radius:0;color:#6d6d6d;font-size:1.4rem;font-weight:100;text-align:center;}

/* 시크바 */
#MainCont .video-js .vjs-control,
#SubCont .video-js .vjs-control {height:4px;border-radius:4px;background:none;}
#MainCont .video-js .vjs-control-bar,
#SubCont .video-js .vjs-control-bar {bottom:23px;z-index:80;width:88.8889%;height:4px;margin-left:0.41667%;border-radius:4px;background:none;}
#MainCont .video-js .vjs-control-bar .vjs-time-control,
#SubCont .video-js .vjs-control-bar .vjs-time-control {display:block;position:relative;bottom:3.5px;width:28px;height:12px;margin:0 7px;padding:0;font-family:'roboto', sans-serif;line-height:12px;}
#MainCont .video-js .vjs-progress-holder,
#SubCont .video-js .vjs-progress-holder {height:4px;margin:0;border-radius:4px;background:rgba(255,255,255,0.4);}
#MainCont .video-js .vjs-load-progress div,
#SubCont .video-js .vjs-load-progress div {height:4px;border-radius:4px;background:rgba(255,255,255,0.6);}
#MainCont .video-js .vjs-progress-holder .vjs-play-progress,
#SubCont .video-js .vjs-progress-holder .vjs-play-progress {height:4px;border-radius:4px;background:rgb(255, 31, 90);}
#MainCont .video-js .vjs-play-progress::before,
#SubCont .video-js .vjs-play-progress::before {content:"";top:50%;right:-13px;width:26px;height:26px;background:url('../images/common/bg_seekbar_point.png') no-repeat 50% 50%/8px;transform:translateY(-50%);}
#MainCont .video-js .vjs-sliding .vjs-play-progress::after,
#SubCont .video-js .vjs-sliding .vjs-play-progress::after {content:"";position:absolute;top:50%;right:-8px;z-index:20;width:16px;height:16px;border-radius:50%;background:rgba(236,56,91,0.3);transform:translateY(-50%);}
#MainCont .video-js .vjs-has-started .vjs-control-bar,
#SubCont .video-js .vjs-has-started .vjs-control-bar {display:none;}

/* 실시간영상(경기중 영상) */
.info-wrapper .live-wrapper .broadcast .video-js .vjs-poster {background-size:cover;}
.live-wrapper .video-js {position:absolute;top:50%;left:50%;width:101% !important;height:57.9722vw !important;background:none;}

/* media query */
@media (max-width:320px){
	html {font-size:9px;}
	.ui-datepicker .ui-datepicker-prev {top:17px;}
	.ui-datepicker .ui-datepicker-next {top:17px;}
}

@media (min-width:321px){
	html {font-size:10px;}
}

@media(orientation:landscape){
	.ui-datepicker {width:34vw;margin-left:-17vw;}

	/* 액션시트 */
	.action-sheet {left:50%;width:360px;padding:0 20px;transform:translateX(-50%);}
	.action-sheet .action-list {padding-top:16px;}
	.action-sheet .action-list li span {padding:16px 0;}
	.action-sheet .action-list li .list-selected {width:29px;padding-top:15px;}
	.action-sheet .action-list li .list-selected.check i {height:10px;background:url('../images/common/as_check.png') no-repeat 50% 50%/16px;}
	.action-sheet .action-list li .setting {padding-left:8px;}
	.action-sheet .action-list.screen li .set1 {padding-left:34px;background:url('../images/common/as_hd.png') no-repeat 0 50%/21px;}
	.action-sheet .action-list.screen li .set2 {padding-left:34px;background:url('../images/common/as_lock.png') no-repeat 0 50%/21px;}
	.action-sheet .btn-cancel {padding:15px 0;}

	/* seekbar */
	#MainCont .video-js .vjs-control-bar,
	#SubCont .video-js .vjs-control-bar {width:82.89063%;margin-left:8.2813%;}
	#MainCont .video-js .vjs-control-bar .vjs-time-control,
	#SubCont .video-js .vjs-control-bar .vjs-time-control {margin:0 9px;}
	#MainCont .video-js .vjs-control-bar,
	#SubCont .video-js .vjs-control-bar {bottom:38px;}

}

@media (min-width:1024px){
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {width:4vw;height:4vw;line-height:4vw;}
	/* 핫콜드존 */
	.hotcoldzone .zone {width:150px;height:150px;}
	.tbl-hotcold.front {width:98px;height:98px;}

	/* 액션시트 */
	.action-sheet {width:80.07813vw;}

	/* 시크바 */
	#MainCont .video-js .vjs-control-bar,
	#SubCont .video-js .vjs-control-bar {bottom:24px;width:87.7668%;margin-left:4.1953%;}
}
