@charset "utf-8";

select::-ms-expand {display:none}
select {height:28px;padding:3px 25px 3px 10px;margin-right:10px;border:1px solid #ccc;border-radius:2px;background:#fff url('../images/common/ic_arrow_bottom.png') no-repeat 95% 55%/9px;appearance:none;-webkit-appearance:none;cursor:pointer;}

.btn-search {display:inline-block;width:150px;height:48px;padding:14px 0;margin:0 auto;border-radius:24px 0;text-align:center;background:#002e78}
.btn-search span {font-size:16px;color:#fff;}

.select-wrap {margin-bottom:60px;text-align:center;}
.select-wrap::after {content:'';display:block;clear:both;}
.select-wrap .select-box {padding:24px 10px 14px;margin-bottom:16px;border-top:1px solid #111;border-bottom:1px solid #eee;background:#f4f4f4}
.select-wrap .select-box::after {content:'';display:block;clear:both;}
.select-wrap .select-box > ul li {position:relative;float:left;font-size:14px;margin-bottom:10px;}
.select-wrap .select-box > ul li select {min-width:95px;margin:0 20px 0 3px;}
.select-wrap .select-box > ul li:last-child select {margin-right:0}
.select-wrap .select-box > ul li .ui-datepicker-trigger {position:absolute;top:4px;right:15px;}
.select-wrap .select-box > ul li.in-input {margin-left:20px;}
.select-wrap .select-box > ul li.in-input span:first-child {margin-left:20px;}
.select-wrap .select-box > ul li.in-input input {width:100px;height:28px;padding:0 10px;margin:0 20px 0 3px;border:1px solid #ccc;border-radius:2px;}

.tab-wrap {height:50px;margin-bottom:46px;}
.tab-wrap .tab {height:100%;border-bottom:1px solid #eee}
.tab-wrap .tab dd{float:left;width:220px;height:50px;border:1px solid #eee;font-size:16px;text-align:center;background-color:#f4f4f4;cursor:pointer}
.tab-wrap .tab dd.on {border-top:2px solid #102863;border-bottom:0;color:#102863;background-color:#fff;}
.tab-wrap .tab dd a {display:block;width:100%;height:100%;padding-top:14px;font-size:inherit;color:inherit;}
.tab-wrap .tab dd.on a {font-size:inherit;color:inherit;padding-top:13px;}
.tab-wrap .date {float:right;margin-top:20px;color:#333}

.tab-sm {text-align:left;}
.tab-sm::after {content:"";display:block;clear:both;}
.tab-sm li {position:relative;display:inline-block;}
.tab-sm li a {margin:0 10px 0 8px;font-size:16px;color:#666}
.tab-sm li:first-child a {margin-left:0;}
.tab-sm li.on a {color:#102863;border-bottom:1px solid #102863}
.tab-sm li::after {content:'';display:inline-block;width:1px;height:18px;background:#666;vertical-align:text-top;}
.tab-sm li:last-of-type::after {display:none}

.pagenation {margin-top:30px;text-align:center;}
.pagenation .prev {margin-right:5px;}
.pagenation .prev span {display:inline-block;width:12px;height:16px;font-size:0;background:url('../images/common/btn_left_1.png');vertical-align:top;}
.pagenation .num {display:inline-block;vertical-align:top;}
.pagenation .num a {padding:0 8px;margin:0 5px;color:#666}
.pagenation .num a.on {font-weight:700;color:#e20335}
.pagenation .next {margin-left:5px;}
.pagenation .next span {display:inline-block;width:12px;height:16px;font-size:0;background:url('../images/common/btn_right_1.png');vertical-align:top;}

.tbl {width:100%;margin:0 auto;border-top:2px solid #111;border-bottom:1px solid #111}
.tbl tr th {position:relative;height:50px;color:#333;font-weight:400;border:1px solid #ebebeb;vertical-align:middle;}
.tbl tr th:first-child {border-left:0;}
.tbl tr th:last-child {border-right:0;}
.tbl tr th.red {color:#f02743}
.tbl tr th.blue {color:#2368d7}
.tbl tr th.line {border-right:1px solid #ccc}
.tbl tr th.sorting {cursor:pointer;}
.tbl tr th.sorting::after {content:'';position:absolute;left:calc(50% - 3px);bottom:9px;width:6px;height:4px;background:url('../images/common/sprite.png') -125px 0;cursor:pointer;}
.tbl tr th.sorting.up::after {background:url('../images/common/sprite.png') -150px 0;}
.tbl tr th.sorting.on::after {background:url('../images/common/sprite.png') -175px 0;}
.tbl tr th.sorting.up.on::after {background:url('../images/common/sprite.png') -200px 0;}
.tbl tr th.big.sorting::after {bottom:30px;}
.tbl tr.total th,
.tbl tr.total td {color:#102863;background:#f4f4f4}
.tbl tr td {height:50px;padding:10px 8px;border:1px solid #ebebeb;border-collapse:collapse;color:#666;text-align:center;vertical-align:middle;}
.tbl tr td:first-child {border-left:0;}
.tbl tr td:last-child {border-right:0;}
.tbl tr td span {color:#666;font-weight:700;}
.tbl tr td.line {border-right:1px solid #ccc}
.tbl tr td.on {color:#111;}
.tbl tr td.popup {background:#fff4e7;cursor:pointer}

/* popup */
.modal {position:fixed;top:0;left:0;bottom:0;right:0;background:rgba(0,0,0,0.6);z-index:20;}
.popup-wrap .icon {position:absolute;top:20px;right:20px;cursor:pointer;}
.popup-wrap .popup-cont {max-height:400px;overflow:auto;}
.popup-wrap .popup-cont .tbl.popup tr th {height:44px;background:#f4f4f4}
.popup-wrap .popup-cont .tbl.popup tr td {height:44px;}

.popup-wrap.vod {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:1234px;min-height:811px;padding:117px 114px 45px;background:#fff;}
.popup-wrap.vod .close {position:absolute;top:30px;right:30px;}
.popup-wrap.vod .btn-left {position:absolute;top:50%;left:40px;}
.popup-wrap.vod .btn-right {position:absolute;top:50%;right:40px;}
.popup-wrap.vod .popup-cont {max-height:100%;overflow:unset;}
.popup-wrap.vod .popup-cont .tit {padding:25px 0 10px;font-size:24px;}
.popup-wrap.vod .popup-cont .date {font-size:16px;color:#666}

/* datepicker */
.ui-datepicker {width:310px;padding:0;border:none !important;border-radius:10px !important;box-shadow:3px 3px 20px 0px #ccc}
.ui-datepicker .ui-datepicker-header {width:100%;padding:10px;border-radius:10px 10px 0 0;background:#397ae4;border:none;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {top:5px;left:12px;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {top:5px;right:10px;}
.ui-datepicker .ui-datepicker-header .ui-corner-all {width:30px;height:30px;}
.ui-datepicker .ui-datepicker-header .ui-corner-all .ui-icon {position:inherit;top:inherit;left:inherit;width:18px;height:30px;margin:0;background-image:url("../images/common/sprite.png") !important;}
.ui-datepicker .ui-datepicker-header .ui-corner-all.ui-datepicker-prev .ui-icon {background-position:-250px -150px  !important;}
.ui-datepicker .ui-datepicker-header .ui-corner-all.ui-datepicker-next .ui-icon {background-position:-275px -150px  !important;}
.ui-datepicker .ui-datepicker-header .ui-corner-all.ui-state-hover {border:0;background:transparent}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {line-height:28px;margin:0 auto;font-size:14px;color:#fff;font-weight:400;vertical-align:top;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title select {width:70px !important;margin-right:5px !important;border:0;font-size:14px;vertical-align:top}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title select.ui-datepicker-month {margin-left:15px !important;}
.ui-datepicker .ui-datepicker-calendar {width:calc(100% - 30px);margin:15px;font-size:12px;}
.ui-datepicker .ui-datepicker-calendar tr th {border-bottom:0;}
.ui-datepicker .ui-datepicker-calendar tr th span {font-size:14px;font-weight:400;}
.ui-datepicker .ui-datepicker-calendar tr td a {font-size:14px}
.ui-datepicker .ui-datepicker-calendar tr td.satday a, .ui-datepicker table th.satday span {color:#4b6a91;}
.ui-datepicker .ui-datepicker-calendar tr td.sunday a, .ui-datepicker table th.sunday span {color:#ec1735;}
.ui-datepicker .ui-datepicker-calendar tr td a.ui-state-default {width:26px;height:26px;line-height:26px;padding:0;margin:0 auto;border:none;background:none;color:#444;text-align:center;}
.ui-datepicker .ui-datepicker-calendar tr td a.ui-state-highlight {background:#fff;color:#397ae4;border-radius:50%;}
.ui-datepicker .ui-datepicker-calendar tr td a.ui-state-active {background:#397ae4;color:#fff;border-radius:50%;}
.ui-datepicker .ui-datepicker-calendar tr td.ui-state-disabled span.ui-state-default{width:26px;height:26px;line-height:26px;padding:0;margin:0 auto;border:none;background:none;color:#444;text-align:center;}
.ui-datepicker .ui-datepicker-buttonpane {display:none;}

/* clearfix */
.clear::after {content:'';display:block;clear:both;}

.fl {float:left;}
.fr {float:right;}
.dp-none {display:none;}
.dp-i {display:inline !important;}
.dp-b {display:block !important;}
.dp-ib {display:inline-block !important;}

.default p {margin-top:15px;font-size:16px;color:#666}
.pt5 {padding-top:5px;}
.pt10 {padding-top:10px;}