@charset "utf-8";

/* clearfix */
.clear::after {content:"";display:block;clear:both;}

/* hidden */
.hidden-obj {overflow:hidden;visibility:hidden;text-indent:-9999px;width:0;height:0;line-height:0;font-size:0;}

/* layout */
.dp-none {display:none !important;}
.dp-i {display:inline !important;}
.dp-b {display:block !important;}
.dp-ib {display:inline-block !important;}

/* align */
.txt-c {text-align:center !important;}
.txt-l {text-align:left !important;}
.txt-r {text-align:right !important;}

/* popup */
.modal {position:fixed;top:0;left:0;bottom:0;right:0;background:#000;opacity:0.3;z-index:15;}

.mb10 {margin-bottom:10px;}
.mb25 {margin-bottom:25px !important;}
